﻿@model ViewModel.Transactions.DeliveryNoteInfo

<hr  style="height:5px ; color:black"/>

@{
    int i=0;
    if (Model.Sales_Order_Id> 0 || Model.Id>0)
    { 
     foreach (var S in Model.DeliveryDetails.Select(m => new { Item_Name = m.Item_Name.ToString(),Qty=m.Order_Quantity,Rate=m.Rate,Unit_Name=m.Unit_Name,Amount=m.Amount}).Distinct())
     {
         int ii = 0;
       
<details>
    
    <summary>
    <div class="panel panel-danger"  >
        <div class="panel--heading">
            <div class="col-lg-8"><b>@S.Item_Name.ToString()</b></div>
            @*<div class="col-lg-2 ">@S.Qty.ToString().Substring(0,@S.Qty.ToString().IndexOf('.')) @S.Unit_Name</div>*@
            <div class="col-lg-2 qty">
                @if (Model.Id > 0)
                {
                    @Model.DeliveryDetails.Where(m => m.Item_Name == S.Item_Name).Sum(m => m.Order_Quantity).Value.ToString("#." + new string('0', 0))  @S.Unit_Name <input type="hidden" value="@S.Unit_Name" />
                }
                else
                {
                    @Model.DeliveryDetails.Where(m => m.Item_Name == S.Item_Name).FirstOrDefault().Order_Quantity.Value.ToString("#." + new string('0', 0))  @S.Unit_Name <input type="hidden" value="@S.Unit_Name" />
                }
            </div>
            <div class="col-lg-2 pull-right">
                <i class="fa fa-rupee"> @Model.DeliveryDetails.Where(m => m.Item_Name == S.Item_Name).FirstOrDefault().Amount.Value.ToString("#." + new string('0', 2)) </i>
            </div>
        </div>

    </div>
    </summary>
    <table class="table table-responsive" >
        <tr>
            <th>SNo.</th>
            @*<th>Puchase Serial No</th>*@
            
            <th>Sales Serial No</th>
            <th>Rate</th>
            <th>Unit</th>
            <th>Actions</th>
        </tr>
        
        @foreach (var dt in Model.DeliveryDetails.Where(k => k.Item_Name == S.Item_Name.ToString()))
        {

            <tr>
                <td>@(++ii) @Html.HiddenFor(x => x.DeliveryDetails[i].Item_Id) @Html.HiddenFor(x => x.DeliveryDetails[i].Purchase_SerialNo)
                </td>
                @*<td>@dt.Purchase_SerialNo </td>*@
                <td>@dt.Sales_Serial_No @Html.HiddenFor(x => x.DeliveryDetails[i].Sales_Serial_No)</td>
                <td>@dt.Rate @Html.HiddenFor(x => x.DeliveryDetails[i].Rate)</td>
                <td>@dt.Unit_Name @Html.HiddenFor(x=>x.DeliveryDetails[i].Quantity) </td>
                <td><a href="#" id="btnItem" name="btnItem" class="glyphicon glyphicon-remove" onclick="fn_Addrow(this);"></a></td>
            </tr>
            i++;
        }
        @{ii = 0;}
    </table>
    
</details>
       
   ii++;
     }
       
}

}

