﻿@model List<ViewModel.Transactions.DeliveryNoteList>
@{
    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 20, ajaxUpdateContainerId: "PageContent", selectionFieldName: "selectedRow");
    grid.Pager(WebGridPagerModes.All);
    int i = 1;
}
<script>
    $(document).ready(function () {
        $('#searchText').click(function () {

            var data = $('#SearchText').val();
            if (data != null)
                FilterData(data, '@Url.Action("List", "DeliveryNote", new { area = "Transactions" })', '#PageContent');
        });

    });
</script>

<div class="panel">

    <div class="panel-heading  bg-margenta">
        <div class="row">

            <div class="col-md-9">
                <i class="fa fa-list"></i>
                <span>Delivery Note</span>

            </div>

            <div class="col-md-3">
                @Ajax.ActionLink("New", "Create", "DeliveryNote", new { Id = 0, area = "Transactions" }, new AjaxOptions
                            {

                                UpdateTargetId = "PageContent",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                            }, new { @Class = "btn btn-default btn-xs btn-flat hgt" })

                <div class="btn-wrp"><div class="dropdown"><button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> Import <span class="caret"></span></button><ul class="dropdown-menu"><li><a href="#">One</a></li><li><a href="#">Two</a></li><li><a href="#">Three</a></li></ul></div><div class="dropdown"><button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> Export <span class="caret"></span></button><ul class="dropdown-menu"><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'csv', escape: 'false' });">CSV</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'excel', escape: 'false' });">EXCEL</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'doc', escape: 'false' });">DOC</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'pdf', escape: 'false' });">PDF</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'xml', escape: 'false' });">XML</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'sql', escape: 'false' });">SQL Script</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'json', escape: 'false' });">JSON</a></li></ul></div></div>
                <input type="text" placeholder="Search Challan Number " class="" id="SearchText" />
                <button class="btn btn-default btn-xs btn-flat hgt fa fa-search" id="searchText" type="button"></button>
                <button class="btn btn-default btn-xs btn-flat hgt fa fa-refresh " type="button" onclick="clearAll();"></button>
            </div>

        </div>

    </div>


    <div class="panel-body" id="gridcontent">
        <div class="row">
            <div class="col-md-8" id="gridcontent" style="min-height:450px;border:solid silver 1px;">
                @grid.GetHtml(tableStyle: "gTable table table-responsive",
        columns: grid.Columns(

                   grid.Column(header: "S.No", format: (item) => new HtmlString(string.Format("<span>" + i++ + "</span> <input type=hidden value= " + item.Id + ">"))),                     
        grid.Column("Delivery_Note_No", "Order No"),
                //grid.Column("Customer_Name", "Customer Name"),

                //  grid.Column("Contact_No", "Contact No"),

                //   grid.Column("Delivery_Note_No", "Delivery Note No"),
                   grid.Column("Order_Date", "Order Date"),

                   grid.Column("Delivery_Date", "Delivery Date"),
                   
                   grid.Column("Action", format: (item) => item.Status == "PENDING" ? new HtmlString(
                                              @Ajax.ActionLink(" ", "Create", "DeliveryNote", new { area = "Transactions", Id = item.Id }, new AjaxOptions
                                     {
                                         LoadingElementId="Loader",
                                         UpdateTargetId = "PageContent",
                                         HttpMethod = "GET",
                                         InsertionMode = InsertionMode.Replace,
                                     }, new { @Class = "btn btn-default fa fa-pencil", @title = "Edit" }).ToString() +
                                                                                                    @Ajax.ActionLink(" ", "Delete", "DeliveryNote", new { area = "Transactions", Id = item.Id }, new AjaxOptions
                                     {
                                         LoadingElementId = "Loader",
                                         UpdateTargetId = "PageContent",
                                         HttpMethod = "GET",
                                         InsertionMode = InsertionMode.Replace,
                                         Confirm = " Are You Sure To Delete This Record!"
                                     }, new { @Class = "btn btn-default fa fa-trash-o", @title = "Delete" }).ToString()
                                     ) : new HtmlString(" ")),

                                                    grid.Column("Approve", format: (item) => item.Status == "PENDING" ? new HtmlString(

                                                                                               @Ajax.ActionLink("Approve", "Create", "Sales", new { area = "Transactions", Id = 0, Delivery_Note_Id = item.Id },
                                                                                      new AjaxOptions { HttpMethod = "GET" ,UpdateTargetId = "PageContent", LoadingElementId = "Loader", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-default" }).ToString()
                                                          ) : new HtmlString("<text><img height='20' width='20' src='../Themes/img/primary-button-ok.png' alt=\"Image\"/></text>"))
                                                          
                                                          
                                                  
                                               )) 
       

            </div>
            <div class="col-md-4" id="ViewDelivery">

                @{Html.RenderAction("ViewDelivery", "DeliveryNote", new { @area = "Transactions", Id = -1 });}


            </div>
            </div>

        </div>

</div>


<script>

            $('table tbody tr').click(function () {

                var selectedId = $(this).find('td:eq(0) input').val();


                $.ajax({
                    url: '@Url.Action("ViewDelivery", "DeliveryNote")',
                    data: { 'Id': selectedId },
                    type: "get",
                    cache: false,
                    success: function (savingStatus) {

                        $('#ViewDelivery').html(savingStatus);

                    },
                    error: function (xhr, ajaxOptions, thrownError) {

                    }
                });
            });
</script>
<style>
    .gTable tr:hover {
        background-color: skyblue;
    }
</style>
