﻿@model ViewModel.Transactions.DeliveryNoteInfo


<table id="tblItem" class="table table-striped table-bordered table-hover">

    <thead>
        <tr>
            <th>
                <label> Item Name</label>
            </th>


            <th>
                <label>Quantity</label>
            </th>

            <th>
                <label>Rate</label>
            </th>
            <th>
                <label>Per</label>
            </th>
            <th>
                <label>Amount</label>
            </th>



        </tr>

    </thead>
    <tbody>


        @{


            int i = 0;
            foreach (var m in Model.DeliveryDetails)
            {

                <tr>
                    <td>

                        @m.Item_Name


                    </td>

                    <td>

                        @m.Order_Quantity
                    </td>
                    <td>
                        @m.Rate.Value.ToString("#." + new string('0', 2))

                    </td>
                    <td>
                        @m.Unit_Name

                    </td>
                    <td>
                        @m.Amount.Value.ToString("#." + new string('0', 2))

                    </td>


                </tr>
                i++;
            }



        }
    </tbody>
</table>
