﻿@model ViewModel.Transactions.PurchaseQuationInfo


<table id="tblItem" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                <label> Item Name</label>
            </th>


            <th>
                <label>Quantity</label>
            </th>

            <th>
                <label>Rate</label>
            </th>
            <th>
                <label>Per</label>
            </th>
            <th>
                <label>Amount</label>
            </th>

            <th>
                <label>Action</label>
            </th>

        </tr>

    </thead>
    <tbody>


        @{

            //if (Model.ItemDetails.Count >= 0)
            //{  @onkeyup = "myFunction(this);",
            int i = 0;
            foreach (var m in Model.QuationItemList)
            {

                <tr>



                    <td>
                        @Html.DropDownListFor(x => x.QuationItemList[i].Item_Id, new SelectList(Model.ItemList, "Id", "Name", Model.QuationItemList[i].Item_Id), "Select Item", new { @class = "form-control", required = true, @onchange = "GetUnitName(this);" })
                        @Html.ValidationMessageFor(x => x.QuationItemList[i].Item_Id, null, new { @style = "color:red;" })
                    </td>

                    <td>
                        @Html.TextBoxFor(x => x.QuationItemList[i].Qty, new { @class = "form-control decimal", minlength = "1", maxlength = "10", digits = true, @onchange = "ChechIsDigit(this); fn_GetTotalAmount(this);" })

                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.QuationItemList[i].Quat_Rate, null, new { @class = "form-control decimal", minlength = "1", maxlength = "10", digits = true, @onkeyup = "myFunction(this);", @onfocusout = "fn_GetTotalAmount(this);" })

                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.QuationItemList[i].Unit_Name, null, new { @readonly = "readonly", @class = "form-control", minlength = "2", maxlength = "100" })

                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.QuationItemList[i].Total_Amount, null, new { @class = "form-control", minlength = "1", maxlength = "15", @readonly = "readonly" })

                    </td>
                    <td>
                        @Html.HiddenFor(x => x.QuationItemList[i].Id)
                        @Html.HiddenFor(x => x.QuationItemList[i].Status)
                        @*<a href="#" id="btnItem" name="btnItem" onclick="fn_Addrow(this);">Add</a>*@
                        <a href="#" id="btnItem" name="btnItem" class="add" title="Add" onclick="fn_Addrow(this);">Add</a>
                        <a href="#" id="d" name="Delete" onclick="fn_Addrow(this);" title="Remove" class="delete">Delete</a>
                    </td>
                </tr>
                i++;
            }



        }





    </tbody>
</table>



