﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Inventory Management - ERPv2.0.0.1</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Themes/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Themes/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="~/Themes/dist/css/timeline.css" rel="stylesheet" />
    <link href="~/Themes/dist/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Themes/bower_components/morrisjs/morris.css" rel="stylesheet" />
    <link href="~/Themes/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Themes/css/login-page.css" rel="stylesheet" />
    <link href="~/Themes/Home/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="background-color: #1B1A1A;">
    @RenderBody()
    <!-- jQuery -->

</body>
<script src='https://www.google.com/recaptcha/api.js'></script>
</html>
