﻿@{
    if (ViewBag.Tagname == "Customers")
    {
        ViewBag.Title = "Customers Details";
    }
    else
    {
        ViewBag.Title = "Supplier Details";
    }

    Layout = ViewBag.layout;
}





<div id="body" class="row topmrgn5px">
    <div id="content" class="col-md-12">

        <script>
            $(document).ready(function () {
                $('#searchText').click(function () {

                    var txt = $('#SearchText').val();
                    if (txt != null)
                        $.ajax({ url: '@Url.Action("List", "Customer",new{area="AccountsMaster"})', data: { Search: txt, Tagname: '@ViewBag.Tagname' }, success: function (data) { $('#gridcontent').html(data); }, error: function () { } });
                });

            });
            function clearAllData() {
                var Path = window.location.href + '/Index';
                $('#SearchText').val('');
                var txt = $('#SearchText').val();
                if (txt != null)
                    $.ajax({ url: '@Url.Action("Index", "Customer",new{area="AccountsMaster"})', data: { Search: txt, Tagname: '@ViewBag.Tagname' }, success: function (data) { $('#PageContent').html(data); }, error: function () { } });

            }

            $(document).ready(function () {
                if ('@ViewBag.SaveStatus' == 1)
                    toastr.success('Record successfully Saved');

                else if ('@ViewBag.SaveStatus' == 2)
                    toastr.success('Record updated successfully');

                else if ('@ViewBag.SaveStatus' == 3)
                    toastr.success('Record deleted successfully');
            });
            function PopUp(id) {
                // alert(id)
                $("#HinDeleteValue").empty();
                $("#HinDeleteValue").val(id)
                $('#Mymmodal').modal({ backdrop: 'static' });
            }

            function Close() {
                $('#myModal').modal('hide');
                if ($('#EMessage').html().trim().length > 0) {

                }
            };
            function Deleteit() {
                var CusId = $("#HinDeleteValue").val();
                // alert(CusId)
                $.ajax({
                    url: '@Url.Action("Delete", "Customer")',
                    datatype: 'json',
                    type: 'Get',
                    contentType: "application/json; charset=utf-8",
                    data: { Id: CusId, Tagname: '@ViewBag.Tagname' },
                    success: function (Data) {

                        $("#content").empty();
                        $("#content").load("@Url.Action("List", "Customer")", { Tagname: '@ViewBag.Tagname' });
                        $('.close').trigger('click');
                    },
                    error: function (err) {
                        alert('Error')
                    }
                });
            }


        </script>
        <div class="panel">

            <div class="panel-heading  bg-margenta">
                <div class="row">

                    <div class="col-md-6">
                        <i class="fa fa-list"></i>
                        <span>@ViewBag.Tagname </span>


                    </div>

                    <div class="col-md-6">
                        <div align="right">
                            @Ajax.ActionLink("New", "Create", "Customer", new { area = "AccountsMaster", Id = 0, Tagname = @ViewBag.Tagname }, new AjaxOptions
                            {

                                UpdateTargetId = "PageContent",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                            }, new { @Class = "btn btn-default btn-xs btn-flat hgt", })






                            <div class="btn-wrp"><div class="dropdown"><button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> Import <span class="caret"></span></button><ul class="dropdown-menu"><li><a href="#">One</a></li><li><a href="#">Two</a></li><li><a href="#">Three</a></li></ul></div><div class="dropdown"><button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> Export <span class="caret"></span></button><ul class="dropdown-menu"><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'csv', escape: 'false' });">CSV</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'excel', escape: 'false' });">EXCEL</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'doc', escape: 'false' });">DOC</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'pdf', escape: 'false' });">PDF</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'xml', escape: 'false' });">XML</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'sql', escape: 'false' });">SQL Script</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'json', escape: 'false' });">JSON</a></li></ul></div></div>
                            <input type="text" placeholder="Search Here" class="" id="SearchText" />
                            <button class="btn btn-default btn-xs btn-flat hgt fa fa-search" id="searchText" type="button"></button>
                            <button class="btn btn-default btn-xs btn-flat hgt fa fa-refresh " type="button" onclick="clearAllData();"></button>
                        </div>
                    </div>




                </div>

            </div>


            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9" id="gridcontent" style="min-height:450px;border:solid silver 1px;">
                        @{Html.RenderAction("List", "Customer", new { Tagname = @ViewBag.Tagname });}
                    </div>
                    <div class="col-md-3" id="Viewdata">


                        @{Html.RenderAction("ViewCustomerSupp", "Customer", new { Id = 0, Tagname = @ViewBag.Tagname });}



                    </div>
                </div>
            </div>
        </div>
        <script>

            $('#gridcontent>table>tbody ').on('click', 'tr', function () {
                var selectedId = $(this).find('td:eq(0) input').val();


                $.ajax({
                    url: '@Url.Action("ViewCustomerSupp", "Customer", new { Tagname = @ViewBag.Tagname })',
                    data: { 'Id': selectedId },
                    type: "get",
                    cache: false,
                    success: function (savingStatus) {
                        $('#Viewdata').html(savingStatus);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#lblCommentsNotification').text("Error encountered while saving the comments.");
                    }
                });
            });

        </script>
    </div>
</div>
<div class="modal fade modal-sm" id="Mymmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:lightgray;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-check-square-o"></i>&nbsp;Message</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="HinDeleteValue" />
                <p>Do you want to delete this record?</p>
            </div>
            <div class="modal-footer">

                <button class="btn btn-xs btn-flat btn-primary" onclick="Deleteit();">Yes</button>
                <button type="button" class="btn btn-xs btn-flat btn-default" data-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>
