﻿@{
    ViewBag.Title = "Index";
    Layout = ViewBag.layout;
}
<script>
    $(document).ready(function () {
        if ('@ViewBag.SaveStatus' == 1)
            toastr.success('Record successfully Saved');

        else if ('@ViewBag.SaveStatus' == 2)
            toastr.success('Record updated successfully');
    });
</script>

<div id="body" class="row topmrgn5px">
    <div id="content" class="col-md-12">
        @{Html.RenderAction("List", "PurchaseOrder");}
    </div>
</div>
