﻿@model List<ViewModel.Transactions.PurchaseOrdeList>
@{
    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 20, ajaxUpdateContainerId: "gridcontent", selectionFieldName: "selectedRow");
    grid.Pager(WebGridPagerModes.All);
}


<div class="panel">

    <div class="panel-heading  bg-margenta">
        <div class="row">

            <div class="col-md-6">
                <i class="fa fa-list"></i>
                <span>Purchase Order  </span>


            </div>

            <div class="col-md-6">

                <div align="right">
                    @Ajax.ActionLink("New", "Create", "PurchaseOrder", new { Id = 0, area = "Transactions" }, new AjaxOptions
                            {

                                UpdateTargetId = "PageContent",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                            }, new { @Class = "btn btn-default btn-xs btn-flat hgt" })

                    <div class="btn-wrp"><div class="dropdown"><button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> Import <span class="caret"></span></button><ul class="dropdown-menu"><li><a href="#">One</a></li><li><a href="#">Two</a></li><li><a href="#">Three</a></li></ul></div><div class="dropdown"><button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> Export <span class="caret"></span></button><ul class="dropdown-menu"><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'csv', escape: 'false' });">CSV</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'excel', escape: 'false' });">EXCEL</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'doc', escape: 'false' });">DOC</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'pdf', escape: 'false' });">PDF</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'xml', escape: 'false' });">XML</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'sql', escape: 'false' });">SQL Script</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'json', escape: 'false' });">JSON</a></li></ul></div></div>
                    <input type="text" placeholder="Search Here" class="hgt" />
                    <button class="btn btn-default btn-xs btn-flat hgt fa fa-search"></button>
                    <button class="btn btn-default btn-xs btn-flat hgt fa fa-refresh"></button>
                </div>


            </div>


        </div>

    </div>
    

    <div class="panel-body" >

        <div class="row">
        <div class="col-md-8" id="gridcontent" style="min-height:450px;border:solid silver 1px;">
        @grid.GetHtml(tableStyle: "gTable table table-responsive",
               
        columns: grid.Columns(
                                   grid.Column("Id", "Sno"),
                                   grid.Column("Order_No", "Order No"),
                                 //  grid.Column("Supplier_Name", "Supplier Name"),
                                 //  grid.Column("Address", "Address"),
                                 //  grid.Column("Contact_No", "Contact No"),
                                   grid.Column("Amount", "Amount"),
                                  grid.Column("Order_Date", "Order Date"),
                                   //grid.Column("Sales_Person_Name", "Sales Person"),
                                   grid.Column("Request_Delivery_Date", "Delivery Date"),
                                   //grid.Column("Remarks", "Remarks"),
       grid.Column("Action", format: (item) => new HtmlString(
       @Ajax.ActionLink(" ", "Create", "PurchaseOrder", new { area = "Transactions", Id = item.Id }, new AjaxOptions
       {
           UpdateTargetId = "PageContent",
           HttpMethod = "GET",
           InsertionMode = InsertionMode.Replace,
       }, new { @Class = "btn btn-default fa fa-pencil", @title = "Edit" }).ToString() +
                                                             @Ajax.ActionLink(" ", "Delete", "PurchaseOrder", new { area = "Transactions", Id = item.Id }, new AjaxOptions
       {
           UpdateTargetId = "PageContent",
           HttpMethod = "GET",
           InsertionMode = InsertionMode.Replace,
       }, new { @Class = "btn btn-default fa fa-trash-o", @title = "Delete" }).ToString()
       )),
                 grid.Column(" ", format: (item) => new HtmlString(
                                      @Ajax.ActionLink("Approve", "ApproveOrderList", "PurchaseOrder", new { area = "Transactions", Id = item.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "PageContent", LoadingElementId = "Loader", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-default" }).ToString()
                    ))
                ))
       ))


            </div>

            <div class="col-md-4" id="ViewPurOdr">

                @{Html.RenderAction("ViewPurodr", "PurchaseOrder", new { @area="Transactions",Id=-1});}


            </div>

        </div>
    </div>
</div>

<script>

    $('table tbody tr').click(function () {
     
     var selectedId = $(this).find('td:eq(0)').text();
   
 
        $.ajax({
            url: '@Url.Action("ViewPurodr", "PurchaseOrder")',
            data: { 'Id': selectedId },
            type: "get",
            cache: false,
            success: function (savingStatus) {
              
                $('#ViewPurOdr').html(savingStatus);
             
            },
            error: function (xhr, ajaxOptions, thrownError) {
               
            }
     });
    });
</script>
<style>
    .gTable tr:hover {
        background-color: skyblue;
    }
</style>

