﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tech Smart | @ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- bootstrap 3.0.2 -->
    <link href="~/Themes/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- font Awesome -->
    <link href="~/Themes/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="~/Themes/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="~/Themes/css/AdminLTE.css" rel="stylesheet" type="text/css" />

    <script src="~/Themes/Scripts/jquery-2.1.3.min.js"></script>

    <link href="~/Areas/Hotel_Administartion/Content/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
    <!-- daterange picker -->
    <!-- iCheck for checkboxes and radio inputs -->
    <link href="~/Themes/css/iCheck/all.css" rel="stylesheet" type="text/css" />

    <link href="~/Themes/elevator/css/animate.css" rel="stylesheet" />
    <link href="~/content/jquery-customselect.css" rel="stylesheet" />
    <link href="~/content/toastr.css" rel="stylesheet" />
    <script src="~/content/jquery-customselect.js"></script>
    <script src="~/Models/Contents/html2canvas.js"></script>
    <script src="~/Models/Contents/jquery.base64.js"></script>
    <script src="~/Models/Contents/tableExport.js"></script>
    <script src="~/Models/Contents/jspdf/jspdf.js"></script>
    <script src="~/Models/Contents/jspdf/libs/base64.js"></script>
    <script src="~/Models/Contents/jspdf/libs/sprintf.js"></script>
    <style>
        .btn-wrp .dropdown-menu {
            margin-left: -61px;
        }
    </style>
    <!-- Theme style -->
</head>
<body class="pace-running skin-black">
    <!-- header logo: style can be found in header.less -->

    <header class="header">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("DashBoard", "LogIn", new { area = "" })" class="logo">
                    <!-- Add the class icon to your logo image or logo icon to add the margining -->
                    Inventory Management ERP
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="navbar-right">
                        @{Html.RenderPartial("~/Areas/Inventory/Views/Shared/_TopLink.cshtml");}

                    </div>
                </nav>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-default" style="background-color: #428bca; ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <div>
                            <i class="fa fa-dashboard"></i>
                            <br />
                            <a style="color: #fff" href="@Url.Action("Index", "DashBoard", new {area="DashBoard" })">Dashboard</a>


                        </div>
                    </li>
                    <li class="dropdown">
                        <div>
                            <i class="fa fa-table"></i>
                            <br />
                            <a style="color: #fff" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Master <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class=""><a href="@Url.Action("Index", "LedgerGroup", new { area = "Masters" })">Ledger Group</a></li>
                                <li class=""><a href="@Url.Action("Index", "LedgerMaster", new { area = "Masters" })">Ledger</a></li>
                                <li class=""><a href="@Url.Action("Index", "FinancialYear", new { area = "Masters" })">Financial Year</a></li>
                                <li class=""><a href="@Url.Action("Index", "Tax", new { area = "Masters" })">Tax Master</a></li>
                            </ul>

                        </div>
                    </li>
                    <li class="dropdown">
                        <div>
                            <i class="fa fa-star"></i>
                            <br />
                            <a style="color: #fff" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ledger <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class=""><a href="@Url.Action("Index", "Customer", new { area = "AccountsMaster", Tagname = "Supplier" })">Suppliers</a></li>
                                <li class=""><a href="@Url.Action("Index", "Customer", new { area = "AccountsMaster", Tagname = "Customers" })">Customers</a></li>

                            </ul>

                        </div>
                    </li>
                    <li class="dropdown">
                        <div>
                            <i class="fa fa-bar-chart-o"></i>
                            <br />
                            <a style="color: #fff" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventory <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Units", new { area = "Masters" })">Units</a></li>
                                <li class=""><a href="@Url.Action("Index", "GoDown", new { area = "Masters" })">GoDown/Location</a></li>
                                <li class=""><a href="@Url.Action("Index", "Region", new { area = "Masters" })">Region</a></li>
                                <li class=""><a href="@Url.Action("Index", "StockGroup", new { area = "InventoryMaster" })">Item Group</a></li>
                                <li class=""><a href="@Url.Action("Index", "Category", new { area = "InventoryMaster" })">Item Category</a></li>
                                <li class=""><a href="@Url.Action("Index", "StockItem", new { area = "InventoryMaster" })">Item Master</a></li>

                            </ul>

                        </div>
                    </li>
                    <li class="dropdown">

                        <div>
                            <i class="fa fa-home"></i>
                            <br />
                            <a style="color: #fff" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Transaction <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="trigger right-caret">Purchase</a>
                                    <ul class="dropdown-menu sub-menu">

                                        <li>
                                            <a href="@Url.Action("Index", "PurchaseQuation", new { area = "Transactions" })" style="padding:6px;margin-bottom:8px;">Quotation</a>
                                            <a href="@Url.Action("Index", "PurchaseOrder", new { area = "Transactions" })" style="padding:6px;margin-bottom:8px;">Order</a>
                                            <a href="@Url.Action("Index", "ReceiptNote", new { area = "Transactions" })" style="padding:6px;margin-bottom:8px;">Receipt Note</a>
                                            <a href="@Url.Action("Index", "Purchase", new { area = "Transactions" })" style="padding:6px;margin-bottom:8px;">Purchase</a>
                                            <a href="@Url.Action("Index", "PurchaseReturn", new { area = "Transactions" })" style="padding:6px;margin-bottom:8px;">Return</a>
                                            <a href="@Url.Action("Index", "Payment", new { area = "Transactions",Tag="SUPPLIER" })" style="padding:6px;margin-bottom:8px;">Payment</a>

                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <a class="trigger right-caret">Sales</a>
                                    <ul class="dropdown-menu sub-menu">

                                        <li class="lipdng">


                                            <a href="@Url.Action("Index", "Quation", new { area = "Transactions" })" style="padding:6px;margin-bottom:8px;">Quotation</a>
                                            <a href="@Url.Action("Index", "SalesOrder", new { area = "Transactions" })" style="padding:6px;margin-bottom:8px;">Order</a>
                                            <a href="@Url.Action("Index", "DeliveryNote", new { area = "Transactions" })" style="padding:6px;margin-bottom:8px;">Delivery Note</a>
                                            <a href="@Url.Action("Index", "SalesReturn", new { area = "Transactions" })" style="padding:6px;margin-bottom:8px;">Return</a>
                                            <a href="@Url.Action("Index", "Sales", new { area = "Transactions" })" style="padding:6px;margin-bottom:8px;">Sales</a>

                                            <a href="@Url.Action("Index", "Receipt", new { area = "Transactions", Tag = "CUSTOMER" })" style="padding:6px;margin-bottom:8px;">Receipt</a>

                                        </li>

                                    </ul>
                                </li>

                            </ul>


                        </div>
                    </li>
                    <li class="dropdown">
                        <div>
                            <i class="fa fa-cog"></i>
                            <br />
                            <a style="color: #fff" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class=""><a href="@Url.Action("Index", "StockMaster", new { area = "Transactions" })">Stock Masters</a></li>
                                <li class=""><a href="@Url.Action("Index", "Report", new { area = "CommonReport" })">Report</a></li>



                            </ul>

                        </div>
                    </li>
                    <li class="dropdown">
                        <div>
                            <i class="fa fa-money"></i>
                            <br />
                            <a style="color: #fff" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Finance<span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li class=""><a href="@Url.Action("Index", "JournalVoucher", new { area = "Finance" })">Journal Voucher</a></li>
                                <li class=""><a href="@Url.Action("DayBook", "Report", new { area = "CommonReport" })">Day Book</a></li>
                                <li class=""><a href="@Url.Action("InventoryBook", "Report", new { area = "CommonReport" })">Inventory Book</a></li>
                                <li>
                                    <a class="trigger right-caret">OutStanding</a>
                                    <ul class="dropdown-menu sub-menu">

                                        @*<li class="lipdng">*@

                                        <li class=""><a href="@Url.Action("Payables", "Report", new { area = "CommonReport" })">Payables</a></li>
                                        <li class=""><a href="@Url.Action("Receivables", "Report", new { area = "CommonReport" })">Receivables</a></li>

                                    </ul>
                                <li>
                                    <a class="trigger right-caret">Orders Summary</a>
                                    <ul class="dropdown-menu sub-menu">

                                        <li class="lipdng">

                                        <li class=""><a href="@Url.Action("Orders", "Report", new { area = "CommonReport", Tag = "SALESORDER" })">Sales Order</a></li>
                                        <li class=""><a href="@Url.Action("Orders", "Report", new { area = "CommonReport", Tag = "PURCHASEORDER" })">Purchase Order</a></li>

                                    </ul>

                                </li>
                                <li>
                                    <a class="trigger right-caret">Accounts Book</a>
                                    <ul class="dropdown-menu sub-menu">

                                        <li class="lipdng">

                                        <li class=""><a href="@Url.Action("AccountsBook", "Report", new { area = "CommonReport", Tag = "SALES" })">Sales Register </a></li>
                                        <li class=""><a href="@Url.Action("AccountsBook", "Report", new { area = "CommonReport", Tag = "PURCHASE" })">Purchase Register </a></li>

                                    </ul>

                                </li>
                    </li>
                </ul>

            </div>
            </li>
            </ul>
            <div style="float:right;color:#fff;font-weight:bold; margin-top: 15px;  font-size: 20px;" id="time"></div>

        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <div class="modal fade" id="modalinvtntify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><span class="fa fa-home"></span>&nbsp;</h4>
                    </div>
                    <div class="modal-body" id="modalinvtry" style="max-height:400px; overflow:scroll;">

                    </div>

                </div>
            </div>
        </div>
        <!-- Bootstrap -->
        <div id="PageContent">
            @RenderBody()
        </div>

    </div><!-- ./wrapper -->
    <!-- jQuery 2.0.2 -->
    <!-- Bootstrap -->
    <script src="/Themes/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="/Themes/js/AdminLTE/app.js" type="text/javascript"></script>

    <script src="/Themes/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Themes/js/plugins/timepicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="~/Areas/Hotel_Administartion/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
    <!-- AdminLTE App -->
    <!--  Table Sorting  -->
    <script src="~/Themes/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Models/Common.js"></script>
    <script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="~/scripts/toastr.js"></script>
    <div id="Loader" style="display:none;"></div>
</body>

</html>
