﻿@model List<ViewModel.Transactions.BillingDetails>

<script>
    $(function () {

       
    });
    function Fn_ChallanDetails(Challan_No) {
  
        $('#Mymmodal1').modal({ backdrop: 'static' });

        $.ajax({
            url: '@Url.Action("ViewDetails", "Purchase", new { area = "Transactions" })',
            dataType: "html",
            data: { Id: 0, Challan_No: Challan_No },
            success: function (data) {
                $('#ItemDetails').html(data);
            }
        });
    }
</script>
@Html.ActionLink("Back", "Index", "Payment", new { Tag =ViewBag.Tag }, new { @class = "fa fa-arrow-circle-left btn btn-danger" })
<table class="table table-striped table-bordered table-hover table-responsive topmrgn5px" id="example">
    <tr>
        <td>
            Bill Date
        </td>
        <td>
            Challan No
        </td>

        <td>Billing Amount</td>
        <td>Tax Amount</td>
        <td>DiscountAmount</td>
        <td>Net Amount</td>

        <td>View</td>
    </tr>
    @if (Model.Count != 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    
                    @Html.DisplayFor(x => item.Billing_Date)

                </td>
                <td>
                    @Html.DisplayFor(x => item.Chalan_No)
                </td>


                <td>
                    @Html.DisplayFor(x => item.Billing_Amount)
                </td>

                <td>
                    @Html.DisplayFor(x => item.Tax_Amount)
                </td>

                <td>
                    @Html.DisplayFor(x => item.Discount_Amount)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Amount)
                </td>
                <td>
                    <input type="button" value="View" onclick="Fn_ChallanDetails('@item.Chalan_No');" />
                
                </td>
                <td>
        </tr>
        }

    }
    else
    {
        <tr>
            <td colspan="5">
                No Records found..
            </td>
        </tr>
    }


</table>
<div class="modal fade modal-sm" id="Mymmodal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:lightgray;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-check-square-o"></i>&nbsp;Bill Details</h4>
            </div>
            <div class="modal-body" id="ItemDetails">

               
            </div>
            <div class="modal-footer">


                <button type="button" class="btn btn-xs btn-flat btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>