﻿@{
    ViewBag.Title = "Common_Report";
    
    Layout = ViewBag.layout;
}

<div id="body" class="row topmrgn5px">
    <div id="content" class="col-md-12">
        <div class="panel">

            @{Html.RenderAction("PartialReport_Header", "Report", new {area="CommonReport",_ReportHeader="Master" });}
            @*<div class="panel  bg-margenta">
                <div class="row">

                    <div class="col-md-9">
                        <i class="fa fa-list"></i>
                        <span>GoDown/Location</span>


                    </div>

                    <div class="col-md-3">
                        @Ajax.ActionLink("New", "Create", "GoDown", new { area = "Masters", Id = 0 }, new AjaxOptions
                            {

                                UpdateTargetId = "PageContent",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                            }, new { @Class = "btn btn-default btn-xs btn-flat hgt", })


                        <select class="hgt"><option>Tools</option><option>Import</option><option>Export</option></select>
                        <input type="text" placeholder="Search Here" class="hgt" id="SearchText" />
                        <button class="btn btn-default btn-xs btn-flat hgt fa fa-search" id="searchText" type="button"></button>
                        <button class="btn btn-default btn-xs btn-flat hgt fa fa-refresh " type="button" onclick="clearAll();"></button>
                    </div>





                </div>

            </div>*@


            <div class="panel-body" id="gridcontent">

                @*@{Html.RenderAction("List", "GoDown");}*@
            </div>
        </div>

    </div>
</div>
