﻿@{
    ViewBag.Title = "DayBook";
    Layout = ViewBag.layout;
}



<div id="body" class="row topmrgn5px">
    <div id="content" class="col-md-12">
        <div class="panel">

            @{Html.RenderAction("PartialReport_Header", "Report", new { area = "CommonReport", _ReportHeader = "Day Book" });}
           


            <div class="panel-body" id="gridcontent">

                @{Html.RenderAction("DayBookList", "Report", new { From = DateTime.Today, To = DateTime.Today, SearchText="" });}
            </div>
        </div>

    </div>
</div>
