﻿@{
    ViewBag.Title = "InventoryBook";
    Layout = ViewBag.layout;
}

<script>
    $(function () {
        $('#btnSearch').click(function () {
            
            SearchText("InventoryBookList", "Report", "gridcontent")
        });
        
    });

    
</script>



<div id="body" class="row topmrgn5px">
    <div id="content" class="col-md-12">
        <div class="panel">

            @{Html.RenderAction("PartialReport_Header", "Report", new { area = "CommonReport", _ReportHeader = "Inventory Book" });}



            <div class="panel-body" id="gridcontent">

                @{Html.RenderAction("InventoryBookList", "Report", new { From = DateTime.Today, To = DateTime.Today, SearchText = "" });}
            </div>
        </div>

    </div>
</div>

