﻿@model List<ViewModel.CommonReport.LedgerGroupCount >

<table class="table table-striped table-bordered table-hover table-responsive topmrgn5px">
    <tr>
        <td>
            Name
        </td>
        <td>
          No Of Count
        </td>
        

    </tr>
    @if (Model.Count != 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => item.Name)

                </td>
                <td>
                    @Html.DisplayFor(x => item.Count)
                </td>

               


            </tr>
        }

    }
    else
    {
        <tr>
            <td colspan="4">
                No Records found..
            </td>
        </tr>
    }


</table>