﻿@{
    ViewBag.Title = "Orders";
    Layout = ViewBag.layout;
}



<script>
    $(function () {
        $('#btnSearch').click(function () {

            SearchText("OrdersList", "Report", "gridcontent")
        });

    });


</script>



<div id="body" class="row topmrgn5px">
    <div id="content" class="col-md-12">
        <div class="panel">

            @{Html.RenderAction("PartialReport_Header", "Report", new { area = "CommonReport", _ReportHeader = ViewBag.Tag });}



            <div class="panel-body" id="gridcontent">

                @{Html.RenderAction("OrdersList", "Report", new {Tag=@ViewBag.Tag, From = DateTime.Today, To = DateTime.Today, SearchText = "" });}
            </div>
        </div>

    </div>
</div>


