﻿<script>
    $(function () {

        $('#FromDate').datepicker({ dateFormat: 'yy-mm-dd' });
        $('#ToDate').datepicker({ dateFormat: 'yy-mm-dd' });
        SetDefaultDate('FromDate');
        SetDefaultDate('ToDate');
    });
    function SetDefaultDate(Date_Id) {
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;
        $("#" + Date_Id).attr("value", today);


    }

    function SearchText(Action,controller,UpdateTargetId)
    {
        var from = $('#FromDate').val();
        var To = $('#ToDate').val();
        var SearchText = $('#SearchText').val();
        $.ajax({
            url: '@Url.Action("InventoryBookList", "Report")',
            datatype: 'json',
            type: 'Get',
            contentType: "application/json; charset=utf-8",
            data: { From: from, To: To, SearchText: SearchText },
            success: function (data) {

                $('#gridcontent').html(data)

            },
            error: function (ero) {

            }
        })

    }
</script>
<div class="panel-heading  bg-margenta">
    <div class="row">

        <div class="col-md-3">
            <i class="fa fa-list"></i>
            <span>@ViewBag.Header</span>


        </div>
        <div class="col-md-6">
            From     @Html.TextBox("FromDate", null, new { @type = "date" })
            To @Html.TextBox("ToDate", null, new { @type = "date" })
            <input type="text" placeholder="Search Here" class="" id="SearchText" />
            <button class="btn btn-default btn-xs btn-flat  fa fa-search" id="btnSearch" type="button" title="Search"></button>
            <button class="btn btn-default btn-xs btn-flat  fa fa-refresh " type="button"  title="Clear"></button>
        </div>
        <div class="col-md-3">
       
            @*@Ajax.ActionLink("New", "Create", "GoDown", new { area = "Masters", Id = 0 }, new AjaxOptions
                            {

                                UpdateTargetId = "PageContent",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                            }, new { @Class = "btn btn-default btn-xs btn-flat hgt", })*@


            
            
            <select class="hgt"><option>Tools</option><option>Import</option><option>Export</option></select>
        </div>





    </div>

</div>