﻿@model List<ViewModel.CommonReport.OutStandingInfo>
@{
    int i = 0;
    if (Model.Count > 0)
    {
        foreach (var S in Model.GroupBy(x => x.Ledger_Name).Select(m => new { Ledger_Name = m.Key }).Distinct())
        {
            int ii = 0;

            <details>

                <summary>
                    <div class="panel panel-danger">
                        <div class="panel--heading">
                            <div class="col-lg-8"><b>Party Name: @S.Ledger_Name</b></div>
                            @*<div class="col-lg-2 ">@S.Qty.ToString().Substring(0,@S.Qty.ToString().IndexOf('.')) @S.Unit_Name</div>*@
                            <div class="col-lg-2 qty">


                                @*@Model.Where(m => m.Item_Name == S.Item_Name).FirstOrDefault().Order_Quantity.Value.ToString("#." + new string('0', 0))  @S.Unit_Name  <input type="hidden" value="@S.Unit_Name" />*@

                            </div>
                            <div class="col-lg-2 pull-right">
                                @*<i class="fa fa-rupee">@S.Amount </i>*@
                            </div>
                        </div>

                    </div>
                </summary>
                <table class="table table-responsive">
                    <tr>
                        <th>SNo.</th>
                        <th>Ref No</th>

                        <th>Date</th>
                        <th>Bill Amount</th>
                        <th>Paid Amount</th>

                    </tr>

                    @foreach (var dt in Model.Where(k => k.Ledger_Name == S.Ledger_Name))
                    {

                        <tr>
                            <td>
                                @(++ii)
                            </td>
                            <td>@dt.VC_No</td>
                            <td>@dt.VC_Date.ToShortDateString()</td>
                            <td><i class="fa fa-rupee pull-left margin"></i><i class="text-right margin"> @(@dt.Bill_Amount != 0 ? @dt.Bill_Amount.ToString("#." + new string('0', 2)) : "0.00")</i></td>
                            <td><i class="fa fa-rupee pull-left margin"></i><i class="text-right margin"> @(@dt.Paid_Amount != 0 ? @dt.Paid_Amount.ToString("#." + new string('0', 2)) : "0.00")</i></td>
                            @*<td>@dt.Bill_Amount.ToString("#." + new string('0', 2)) </td>
                            <td>@dt.Paid_Amount.ToString("#." + new string('0', 2)) </td>*@
                            @*<td>@dt.Unit_Name</td>*@



                        </tr>
                        i++;
                    }
                    @{ii = 0;}
                </table>

            </details>

                    ii++;
        }

    }

}