﻿@model List<ViewModel.CommonReport.Supplier_CustomerInfo>

<table class="table table-striped table-bordered table-hover table-responsive topmrgn5px">
    <tr>
        <td>
            Code
        </td>
        <th>
            Name
        </th>
       
        <td>
            Pan No
        </td>
        <td>
           Mobile No
        </td>
        <td>
           Email Id
        </td>
        <td>
            Addess
        </td>
        
    </tr>
    @if (Model.Count != 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(x => item.PANNumber )
                </td>
                <td>
                    @Html.DisplayFor(x => item.Mobile )
                </td>
                <td>
                    @Html.DisplayFor(x => item.Email_Id )
                </td>
               
                <td>
                    @Html.DisplayFor(x => item.address) ,@Html.DisplayFor(x => item.CityName),@Html.DisplayFor(x => item.Pin_Code),@Html.DisplayFor(x => item.StateName),@Html.DisplayFor(x => item.CountryName)

                </td>

               

              
            </tr>
        }

    }
    else
    {
        <tr>
            <td colspan="4">
                No Records found..
            </td>
        </tr>
    }

</table>



