﻿@model ViewModel.Stock.StockItem
<script type="text/javascript">
    function change(val) {
        var tr = $(val).parent().parent();
        if (tr.find('td:eq(2) input').val() != '' && tr.find('td:eq(3) input').val() != '') {
            var Qunatity = tr.find('td:eq(2) input').val();
            var Rate = tr.find('td:eq(3) input').val();
            var NetAmount = parseFloat(Qunatity).toFixed(2) * parseFloat(Rate).toFixed(2);
            tr.find('td:eq(5) input').val(NetAmount);
        }
        else {
            //  $("#modalinvtry").html('Rate or Quantity can"t ne null.');
            //  OpenPopup();

        }
        CalculateTotalAmount();
    }
    $(".decimal").on("keypress keyup blur", function (event) {
        $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
        if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });
</script>
@*@using (Html.BeginForm("OpeningQty", "StockItem", new { @area = "InventoryMaster" }, FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)*@
<table id="tbl" class="table  table-responsive table-striped table-bordered table-hover topmrgn5px">
    <tr>
        <td>
            Purchase
        </td>
        <td>
            Sale
        </td>

        <td>
            Quantity
        </td>
        <td>
            Rate
        </td>

        <td>
            Unit
        </td>
        <td>
            Amount
        </td>

    </tr>
    <tbody>

        @if (Model.OpeningBal.Count != 0)
        {
            //int i=0;
            //foreach (var item in Model.OpeningBal)
            //{

            for (int i = 0; i < Model.OpeningBal.Count; i++)
            {


                <tr>
                    <td>
                        @Html.TextBoxFor(x => Model.OpeningBal[i].Purchase, "", new { style = "width:120px", @readonly = "readonly" })

                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model.OpeningBal[i].Sale, "", new { style = "width:100px", @readonly = "readonly" })

                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model.OpeningBal[i].Quantity, "", new { style = "width:100px", onchange = "change(this)", @readonly = "readonly", @class = "decimal" })
                        @Html.ValidationMessageFor(x => Model.OpeningBal[i].Quantity, null, new { @style = "color:red;" })
                    </td>

                    <td>
                        @Html.TextBoxFor(x => Model.OpeningBal[i].Rate, "", new { style = "width:100px", onchange = "change(this)", @readonly = "readonly", @class = "decimal" })
                        @Html.ValidationMessageFor(m => Model.OpeningBal[i].Rate, null, new { @style = "color:red;" })
                    </td>

                    <td>
                        @Html.TextBoxFor(x => Model.OpeningBal[i].Unit, "", new { style = "width:100px", @readonly = "readonly" })
                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model.OpeningBal[i].Amount, "", new { style = "width:100px", @readonly = "readonly" })
                    </td>

                </tr>
            }

        }

        else
        {
            <tr>
                <td colspan="4">
                    No Records found..
                </td>
            </tr>
        }

    </tbody>
</table>

<div style="float: right; margin-right: 10px;">
    Total Amount :
    <span id="spnText"></span>
</div>
