﻿@model ViewModel.Transactions.ReceiptNoteInfo

<script src="~/Themes/Scripts/jquery.validate.js"></script>
<script src="~/Themes/Scripts/jquery.validate.unobtrusive.js"></script>
@using (Ajax.BeginForm("Create", "ReceiptNote", new { area = "Transactions" }, new AjaxOptions { UpdateTargetId = "PageContent", HttpMethod = "Post", InsertionMode = InsertionMode.Replace,LoadingElementId="Loader" }, new { @id = "form1" }))
{
    @Html.ValidationSummary(true)
<div class="row">

    <div class="col-lg-9">
        <div class="panel">

            <div class="panel-heading bg-margenta"><span>Receipt Note</span> </div>

            <div class="panel-body">


                <div class="row">
                    <div class="col-md-3">
                        <div class="editor-label">
                            @Html.Label("Receipt Note No")
                            @Html.HiddenFor(x => x.Id)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(x => x.Receipt_Note_No, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(x => Model.Receipt_Note_No, null, new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="editor-label">
                            @Html.Label("Supplier Name")
                            
                            <div class="editor-field">
                              @if (Model.Refered_Type == "PURCHASEORDER") 
                             { 
                                   @Html.TextBoxFor(x => x.Supplier_Name, new { @class = "form-control", @readonly = "readonly" })
                                  @Html.HiddenFor(x=>x.Supplier_Id)
                              }
                              else
                              {
                                  @Html.DropDownListFor(x => x.Supplier_Id, new SelectList(Model.SupplierList, "Id", "Name", Model.Supplier_Id), "Supplier Name", new { @required = true, @class = "custom-select form-control" })
                              }
                                @Html.ValidationMessageFor(x => x.Supplier_Id, null, new { @style = "color:red;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="editor-label">
                            @Html.Label("Purchase Order No")
                            @Html.HiddenFor(x=>x.Refered_Type)
                            <div class="editor-field">
                              @if (Model.Refered_Type == "PURCHASEORDER") 
                             { 
                                @Html.TextBoxFor(x => x.Purchase_Order_No, new { @class = "custom-select form-control",@readonly="readonly" })
                                  @Html.HiddenFor(x=>x.Purchase_Order_Id)
                              }
                              else
                              {
                                 @Html.DropDownListFor(x => x.Purchase_Order_Id, new SelectList(Model.PurchaseOrderList, "Id", "Name", Model.Purchase_Order_Id), "Select Order No", new { @required = true, @class = "form-control" }) 
                                  @Html.HiddenFor(x => x.Purchase_Order_No);
                              }
                                @Html.ValidationMessageFor(x => x.Purchase_Order_Id, null, new { @style = "color:red;" })
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="editor-label">
                            @Html.Label("Receipt Date")
                        </div>
                        <div class="editor-field">

                            @Html.TextBoxFor(x => x.Receipt_Date, new { @placeholder = "yyyy-mm-dd", @class = "form-control", required = true })
                            @Html.ValidationMessageFor(x => x.Receipt_Date, null, new { @style = "color:red;" })
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="editor-label">
                            @Html.Label("Remarks")
                        </div>
                        <div class="editor-field">

                            @Html.TextAreaFor(x => Model.Remarks, new { @placeholder = "Remarks", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Remarks, null, new { @style = "color:red;" })
                        </div>
                    </div>
                </div>

                <div class="row topmrgn5px">
                    <div class="col-md-12" id="ReceiptNoteDetailsList">
                        @{
                            Html.RenderAction("ReceiptNoteDetailsList", "ReceiptNote", new { Id = Model.Purchase_Order_Id });}
                    </div>
                   

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div>





                            <label> Grand Total</label>
                            <span class="pull-right" id="GrTotal">

                                @Html.DisplayFor(x => x.Amount)
                            </span>
                            @Html.HiddenFor(x => Model.Amount)

                        </div>
                        <button type="submit" class="btn btn-primary" onclick="fn_ValidateForm('form1');">Save </button>
                        @if (Model.Refered_Type == "PURCHASEORDER") 
                        { 
                        @Html.ActionLink("Cancel", "Index", "PurchaseOrder", new {area="Transactions" }, new { @class = "btn btn-default" })
                        }
                        else
                        {
                        @Html.ActionLink("Cancel", "Index", "ReceiptNote", new { area = "Transactions" }, new { @class = "btn btn-default" })    
                        }

                    </div>

                </div>


            </div>

        </div>
    </div>
    <div class="col-lg-3" id="MasterDetails">

      @{Html.RenderAction("MasterDetails", "ReceiptNote", new { SuuplierId = 0 });}

    </div>
</div>

}

<script>

    $(function ()
    {

        $('#Supplier_Id').customselect();
        $('#Purchase_Order_Id').customselect();
        $('#Receipt_Date').datepicker({ dateFormat: 'yy-mm-dd' });

        $('#Supplier_Id').change(function () {
            
            //   $("#Purchase_Order_Id").empty();
            BindPurcOrder();
        });

        $('#Purchase_Order_Id').change(function () {
          
            if ($('#Purchase_Order_Id').val() > 0)
            {

                $('#Purchase_Order_No').val($('#Purchase_Order_Id option:selected').text());

                BindSupplierDetails();
                BindReceiptNoteDetails();
              
                
            }

            
           // fn_GetGrandTotalAmount();
         
        });

        BindReceiptNoteDetails();
       

    });

    function BindPurcOrder()
    {
        var supid = $('#Supplier_Id option:selected').val();
        //alert(supid);
        $("#Purchase_Order_Id select").empty();
        $.getJSON('@Url.Action("BindPurchaseOrderNO", "ReceiptNote")', { SupplierId: supid }, function (data) {
            $("#Purchase_Order_Id").empty();
          
            $('#Purchase_Order_Id').append("<option>Select Order No</option>");

            for (var i = 0; i <= data.length; i++)
            {
                
                $('#Purchase_Order_Id').append("<option value=" + data[i].Id + ">" + data[i].Name + "<option>");
            }

        });
    }

    function BindSupplierDetails()
    {
        var supid = $('#Supplier_Id option:selected').val();
        var orderid = $('#Purchase_Order_Id option:selected').val();
        $.get('@Url.Action("MasterDetails", "ReceiptNote")', { SuuplierId: supid, OrderId: orderid }, function (data) {

            
            $('#MasterDetails').html(data);
           
            
        });

    }
    function BindReceiptNoteDetails()
    {
        debugger;
        var supid = $('#Supplier_Id option:selected').val();
        var orderid  = $('#Purchase_Order_Id').val();
        var Refered_Type = $('#Refered_Type').val();
       
        if ( Refered_Type != '' && Refered_Type == "PURCHASEORDER")
        {
            orderid = $('#Purchase_Order_Id').val();
          
           
        }
        else
        {
            orderid=$('#Purchase_Order_Id option:selected').val();
        }
     
        $.get('@Url.Action("ReceiptNoteDetailsList", "ReceiptNote")', { SuuplierId: supid, OrderId: orderid }, function (data) {


            $('#ReceiptNoteDetailsList').html(data);

            var Grtotal = fn_GetGrandTotalAmount();
            $('#GrTotal').text(Grtotal);
            $('#Amount').val(isNaN(Grtotal) ? 0 : Grtotal);

        });



    }
    function fn_Addrow(obj) {

        if ($(obj).text() == "Add") {


            // $("#tblItem tbody").append($("#tblItem tbody tr:last").clone());
            //$("#tblItem tbody tr:last").find('td:nth-child(1) select').val(0);
            // $("#tblItem tbody tr:last").find('td:nth-child(2) input[type=text]').val('');
            // $("#tblItem tbody tr:last").find('td:nth-child(2) input[type=text]').attr('class', 'form-control decimal');
            // $("#tblItem tbody tr:last").find('td:nth-child(3) input[type=text]').val('');
            // $("#tblItem tbody tr:last").find('td:nth-child(3) input[type=text]').val('');
            // $("#tblItem tbody tr:last").find('td:nth-child(4) input[type=text]').val('');
            // $("#tblItem tbody tr:last").find('td:nth-child(5) input[type=text]').val('');
            //$(obj).attr("class", "btn-sm btn vd_btn vd_bg-red fa fa-times")

            //$(obj).text("Delete")
            //$("#tblItem tbody tr:last").find('td:nth-child(8) input[type=hidden]').val(true);
            //$("#tblItem tbody tr").each(function (i, item) {
            //    fn_Append(i, this);
            //})
        }

        else {


            $(obj).parent().parent().remove();
            var tr = $(obj).parent().parent();

          
            


            
            $('details').each(function (index, val) {
                var amt = 0;
                var qty = 0;
                $(val).find('tbody tr:not(0)').each(function (ind, v)
                {
                    amt += parseFloat(isNaN($(this).find('td:eq(2) input').val()) == true ? 0 : $(this).find('td:eq(2) input').val());
                    
                    qty += parseFloat(isNaN($(this).find('td:eq(3) input').val()) == true ? 0 : $(this).find('td:eq(3) input').val());
                });
                if (amt <= 0)
                    $(this).remove();
                else
                {
                    $(val).find('summary .pull-right').html('<i class="fa fa-rupee"> &nbsp;' + parseFloat(amt) + '</i>');

                    var unit = $(val).find('summary .qty input').val();
                 
                 //   alert($(val).find('summary .qty').val())
                    $(val).find('summary .qty').html(parseFloat(qty) + unit);
                }
            });



        }

        var Grtotal = fn_GetGrandTotalAmount();
        $('#GrTotal').text(Grtotal);
        $('#Amount').val(isNaN(Grtotal) ? 0 : Grtotal);
    }
    function fn_GetGrandTotalAmount()
    {


        var total = 0.00;


        $('details').each(function (index, val) {

            
            var amt = 0;
            amt = $(val).find('summary .pull-right').text();
            
            total = total + parseFloat(amt);


        });

      //  alert(total);
        //$('#GrTotal').text(total);
        //$('#Amount').val(isNaN(total) ? 0 : total);

        return total;
    }
</script>