﻿@{
    ViewBag.Title = "Index";
    Layout = ViewBag.layout;
}


<script>
    $(document).ready(function () {
        if ('@ViewBag.SaveStatus' == 1)
            toastr.success('Record successfully Saved');

        else if ('@ViewBag.SaveStatus' == 2)
            toastr.success('Record updated successfully');

        else if ('@ViewBag.SaveStatus' == 3)
            toastr.success('Record deleted successfully');
    });
</script>

<div id="body" class="row">

    <div id="content">
        @{Html.RenderAction("List", "ReceiptNote");}
    </div>
</div>

