﻿@model List<ViewModel.Common.Unit>
 @{
     var grid = new WebGrid(Model, canPage: true, canSort: true, selectionFieldName: "selectedRow", rowsPerPage: 20, ajaxUpdateContainerId: "PageContent");
     grid.Pager(WebGridPagerModes.All);        
  }

<script>
    $(document).ready(function () {
        $('#searchText').click(function () {

            var data = $('#SearchText').val();
            if (data != null)
                FilterData(data, '@Url.Action("List", "Units", new { area = "Masters" })', '#PageContent');
        });

    });
</script>

<script>

    var RowId = 0;
    function OpenDelModal(Id)
    {
        RowId = Id;
        $('#DeleteCmnModal').modal({backdrop:'static'});
    }

  
    function Delete()
    {
        $.ajax({
            url: '@Url.Action("DeleteUnit", "Units")',
            type: 'Get',
            datatype: 'json',
            data: { Id: RowId },
            
            success: function (data) {

                @*$('#content').load("@Url.Action("List", "Units", new { area = "Masters" })");*@
                $('#content').html(data);
                $('#DeleteCmnModal').modal('hide');
            },

        error: function () {
        alert('Error');
        }
     });
      
   }

    
</script>

<div class="panel">
<div class="panel-heading  bg-margenta">
    <div class="row">

        <div class="col-md-6">
            <i class="fa fa-list"></i>
            <span>Unit Master</span>

        </div>

        <div class="col-md-6">
            <div align="right">
                @Ajax.ActionLink("New", "Create", "Units", new { area = "Masters", Id = 0 }, new AjaxOptions
             {
                 LoadingElementId = "Loader",
                 UpdateTargetId = "PageContent",
                 HttpMethod = "GET",
                 InsertionMode = InsertionMode.Replace,
             }, new { @Class = "btn btn-default btn-xs btn-flat hgt", })


                <select class="hgt"><option>Tools</option><option>Import</option><option>Export</option></select>
                <input type="text" placeholder="Search Here" class="" id="SearchText" />
                <button class="btn btn-default btn-xs btn-flat hgt fa fa-search" id="searchText" ></button>
                @Ajax.ActionLink(" ", "List", "Units", new { @area = "Masters" }, new AjaxOptions { UpdateTargetId = "PageContent", InsertionMode = InsertionMode.Replace, LoadingElementId = "Loader" }, new { @class = "btn btn-default btn-xs btn-flat hgt fa fa-refresh" })
              
            </div>
        </div>





    </div>

</div>
  <div class="panel-body" id="gridcontent">
        @grid.GetHtml(tableStyle: "table  table-responsive table-striped table-bordered table-hover topmrgn5px",
        columns:grid.Columns(
        grid.Column("S.No", format:item=>item.WebGrid.Rows.IndexOf(item)+1),
        grid.Column("Name", "Name"),
        grid.Column("AliasName", " Alias Name"),
        grid.Column("No_of_Decimal", "# Decimal"),
        grid.Column("Remarks", "Remarks"),
      
      
       grid.Column(header:"Action",format:(item)=>new HtmlString(

       @Ajax.ActionLink(" ", "Create", "Units", new { area = "Masters", Id = item.Id }, new AjaxOptions
       {
           LoadingElementId = "Loader",
      UpdateTargetId = "PageContent", 
      HttpMethod = "GET",  
      InsertionMode = InsertionMode.Replace,
      }, new { @Class = "btn btn-default fa fa-pencil",@title="Edit" }).ToString()+

                          @Ajax.ActionLink(" ", "Delete", "Units", new { area = "Masters", Id = item.Id }, new AjaxOptions
                {
                    LoadingElementId = "Loader",
        Confirm = "Are you sure to delete?",
        UpdateTargetId = "PageContent",
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
    }, new { @Class = "btn btn-default fa fa-trash-o", @title = "Delete" }).ToString()
                     
     ))
                  
        
        ))

        @*<table class="table  table-responsive table-striped table-bordered table-hover topmrgn5px">
            <tr>
                <td>
                    Ledger Name
                </td>
                <td>
                    Alias Name
                </td>

                <td>
                    Remarks
                </td>

                <td colspan="2">Action</td>
            </tr>
            @if (Model.Count != 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => item.Name)

                        </td>
                        <td>
                            @Html.DisplayFor(x => item.AliasName)
                        </td>

                        <td>
                            @Html.DisplayFor(x => item.Remarks)
                        </td>

                        <td>
                            @Ajax.ActionLink(" ", "Create", "Units", new { area = "Masters", Id = item.Id }, new AjaxOptions
                            {

                                UpdateTargetId = "PageContent",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                            }, new { @Class = "fa fa-pencil", })


                        </td>
                        <td>
                            @Ajax.ActionLink(" ", "Create", "Units", new { area = "Masters", item.Id }, new AjaxOptions
                            {

                                UpdateTargetId = "PageContent",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                            }, new { @Class = "fa fa-trash-o", })
                        </td>
                    </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="4">
                        No Records found..
                    </td>
                </tr>
            }


        </table>*@
    </div>

</div>


