﻿@model ViewModel.Transactions.SalesReturnInfo


@using (Ajax.BeginForm("Create", "SalesReturn", new { area = "Transactions" }, new AjaxOptions { UpdateTargetId = "PageContent", HttpMethod = "Post", InsertionMode = InsertionMode.Replace }))
{
    @Html.ValidationSummary(true)

    <div class="row">

        <div class="col-lg-12">
            <div class="panel">

                <div class="panel-heading bg-margenta"><span>Sales Return</span> </div>

                <div class="panel-body">


                    <div class="row">
                        <div class="col-md-3">

                            <div class="editor-label">

                                @Html.Label("Name")
                                @Html.HiddenFor(x => x.Id)
                            </div>
                            <div class="editor-field">
                                @Html.DropDownListFor(x => Model.Customer_Id, new SelectList(Model.CustomerList, "Id", "Name", Model.Customer_Id), "Select", new { @class = "custom-select form-control" })
                                @Html.ValidationMessageFor(x => Model.Customer_Id, null, new { @style = "color:red;" })
                            </div>
                        </div>
                        <div class="col-md-3">

                            <div class="editor-label">

                                @Html.Label("Agst Bill")

                            </div>
                            <div class="editor-field">
                                @Html.DropDownListFor(x => Model.Sales_Id, new SelectList(Model.BillList, "Id", "Name", Model.Sales_Id), "Select", new { @class = "custom-select form-control" })
                                @*@Html.ValidationMessageFor(x => Model.Purchase_Id, null, new { @style = "color:red;" })*@
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="editor-label">

                                @Html.Label("VC No")

                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(x => x.VC_No, new { @placeholder = "VC No", @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(x => Model.VC_No, null, new { @style = "color:red;" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="editor-label">
                                @Html.Label("Return Date")
                            </div>
                            <div class="editor-field">

                                @Html.TextBoxFor(x => x.Return_Date, new { @class = "form-control", @Value = Model.Return_Date.ToString("yyyy-MM-dd"), required = true })
                                @Html.ValidationMessageFor(x => x.Return_Date, null, new { @style = "color:red;" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="editor-label">
                                @Html.Label("Remarks")
                            </div>
                            <div class="editor-field">

                                @Html.TextBoxFor(x => Model.Remarks, new { @placeholder = "Remarks", @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Remarks, null, new { @style = "color:red;" })
                            </div>
                        </div>
                    </div>




                    <div class="row topmrgn5px">
                        <div class="col-md-12">
                            @{ Html.RenderAction("SalesReturnDetails", "SalesReturn", new { Id = Model.Id });}
                            @*@Html.Partial("ItemList", Model.sales_tra, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "sales_tra" } })*@
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-8 offset">

                        </div>
                        @*<div class="col-md-4">
                                <div class="" align="center">
                                    <label> Total :- &nbsp;&nbsp; <span id="Discount_Amount"></span></label>
                                    @Html.HiddenFor(x => x.Discount)
                                    @Html.DisplayFor(x => x.Discount)
                                </div>
                            </div>*@
                        <div class="col-md-4">
                            <div align="right">
                                Total Amount&nbsp:   <span id="spTotalAmount">0.00</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            @*   <div>
                                <span class="pull-right" id="GrTotal" style="font-weight:bold;">

                                </span>


                                <label> Grand Total</label>
                                <span class="pull-right" id="GrTotal">

                                        @Html.DisplayFor(x => x.Grand_Total)
                                    </span>
                                    @Html.HiddenFor(x => Model.Grand_Total)

                                                    </div>*@


                            <button type="submit" onclick="Validation();" class="btn btn-primary ">Save </button>
                            @Html.ActionLink("Cancel", "Index", "SalesReturn", new { @class = "btn btn-default" })


                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>






    <script>
        $(function () {

            fn_LoadItemList();

            $('#Return_Date').datepicker({ dateFormat: 'yy-mm-dd' });
            CalculateTotalRate();

            //$(".decimal").on("keypress keyup blur", function (event) {
            //    //this.value = this.value.replace(/[^0-9\.]/g,'');
            //    $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            //    if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            //        event.preventDefault();
            //    }
            //});

            $('#Customer_Id').on('change', function () {
                $('#Sales_Id').empty();
                $('#Sales_Id').append("<option>Select</option>");
                var Customer_Id = $('#Customer_Id').val();

                $.getJSON("@Url.Action("GetBillList", "SalesReturn")", { Customer_Id: Customer_Id }, function (data) {

                    for (var i = 0; i < data.length; i++) {
                        $('#Sales_Id').append('<option value=' + data[i].Id + '>' + data[i].Name + '</option>');
                    }

                    var model = @Html.Raw(Json.Encode(Model.Sales_Id))  ;
                    if(model!="")
                    {
                        $("#Sales_Id").val(model);
                    }
                });
            });

            $('#Sales_Id').on('change', function () {
                debugger;
                $('#Item_Id').empty();
                $('#Item_Id').append("<option>Select</option>");
                var Sales_Id = $('#Sales_Id').val();

                $.getJSON("@Url.Action("GetStockItemForSupplier", "SalesReturn")", { Sales_Id: Sales_Id }, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $('#Item_Id').append('<option value=' + data[i].Id + '>' + data[i].Name + '</option>');
                    }
                });
            });
            $('#Customer_Id').trigger('change');
        });

        function GetUnitName(obj) {
            var tr = $(obj).parent().parent();
            var ItemId = tr.find('td:eq(0) select').val();


            $.getJSON("@Url.Action("GetItemDetail", "SalesReturn")", { Id: ItemId }, function (data) {


                if (data.Is_Auto_SerialNo == true) {
                    $('#Is_Auto').val(0);
                    $('#Serialno').text('Quantity');
                    $('#Qty').val('');
                    tr.find('td:eq(1) input[type=text]').removeClass('form-control')
                    tr.find('td:eq(1) input[type=text]').addClass('form-control decimal')


                }
                else {

                    $('#Serialno').text('Serial No');
                    $('#Qty').val('');
                    $('#Is_Auto').val(1);

                    tr.find('td:eq(1) input[type=text]').removeClass('form-control decimal')
                    tr.find('td:eq(1) input[type=text]').addClass('form-control')


                }

                //  tr.find('td:eq(3) input[type=text]').val(data.Name);


            });
        }



        function myFunction(obj) {
            var tr = $(obj).parent().parent();
            var ItemId = tr.find('td:eq(0) select').val();

            if (ItemId != 0) {

                $(".decimal").on("keypress keyup blur", function (event) {


                    //this.value = this.value.replace(/[^0-9\.]/g,'');
                    $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
                    if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                        event.preventDefault();
                    }
                });
            }
            else {
                alert('First Select Item Please !')
                tr.find('td:eq(0) select').focus();
            }
        }

        var arr = new Array();
        function fn_Append(i, tr) {
            arr = { Item_Id: 'Item_Id', Quantity: 'Quantity', Rate: 'Rate', Unit_Name: 'Unit_Name', Total_Amount: 'Total_Amount', Id: "Id" };
            var j = 0;
            $.each(arr, function (item, k) {
                var control = j == 0 ? 'td:eq(' + j + ') select' : j == 3 ? 'td:eq(' + j + ') input' : 'td:eq(' + j + ') input';
                var name = j == 0 ? item : j == 1 ? item : j == 2 ? item : j == 3 ? item : j == 4 ? item : j == 5 ? item : j == 6 ? item : item;

                $(tr).find(control).attr('name', 'ReturnDetails[' + i + '].' + name);

                j++;
            })

        }

        function fn_Addrow(obj) {

            if ($(obj).text() == "Add") {
                var item = $("#tblItem tbody tr:last").find('td:nth-child(1) select').val();
                var Qty = $("#tblItem tbody tr:last").find('td:nth-child(2) input[type=text]').val();
                var Rate = $("#tblItem tbody tr:last").find('td:nth-child(3) input[type=text]').val();
                //  alert('item:'+item+',qty'+Qty+',rate'+Rate);
                if (item != 0 && Qty > 0 && Rate) {
                    $("#tblItem tbody").append($("#tblItem tbody tr:last").clone());
                    $("#tblItem tbody tr:last").find('td:nth-child(2) input[type=text]').val('');
                    $("#tblItem tbody tr:last").find('td:nth-child(3) input[type=text]').val('');
                    $("#tblItem tbody tr:last").find('td:nth-child(4) input[type=text]').val('');
                    $("#tblItem tbody tr:last").find('td:nth-child(5) input[type=text]').val('');
                    $("#tblItem tbody tr:last").find('td:nth-child(6) input[type=text]').val('');
                    $("#tblItem tbody tr:last").find('td:nth-child(7) input[type=text]').val('');
                    //$(obj).attr("class", "btn-sm btn vd_btn vd_bg-red fa fa-times")

                    //$(obj).text("Delete")
                    $("#tblItem tbody tr:last").find('td:nth-child(7) input[type=hidden]').val(0);
                    $("#tblItem tbody tr").each(function (i, item) {
                        fn_Append(i, this);
                    })
                }
                else {
                    alert('Please fill the Details');
                }
            }
            else {
                $(obj).parent().parent().remove();
                $("#tblItem tbody tr").each(function (i, item) {
                    fn_Append(i, this);
                })

                $('#tblItem tbody tr:last').find('.add').remove();
                $('#tblItem tbody tr:last').find('.delete').remove();
                $('#tblItem tbody tr:last').find('td:nth-child(6)').append('<a href="#" id="btnItem" name="btnItem" onclick="fn_Addrow(this);" class="add" title="Add">Add</a>&nbsp;&nbsp;')
                $('#tblItem tbody tr:last').find('td:nth-child(6)').append('<a href="#" id="d" name="Delete" onclick="fn_Addrow(this);" title="Remove" class="delete">Delete</a>')

            }
            //  fn_GetGrandTotalAmount(obj);
            fn_LoadItemList();
        }

        function fn_Addrow2(obj) {
            debugger;
            if ($(obj).text() == "Add") {

                var itemName = $('#Item_Id').val() > 0 ? $('#Item_Id option:selected').text() : '';
                var SerialNo = $('#SerialNo').val();
                var Item_Id = $('#Item_Id').val();
                var Sales_Id = $('#Sales_Id').val();



                if (itemName != '' && SerialNo != '') {
                    var Rate, PMTra_Id;
                    var i = $("#tblItem tbody tr").length
                    //   alert(i);
                    var Is_Auto = $('#Is_Auto').val();

                    $.getJSON("@Url.Action("GetItemRate", "SalesReturn")", { Item_Id: Item_Id, Sales_Id: Sales_Id }, function (data) {
                        if (data != "") {
                            debugger;
                            var result = data.split('~');
                            Rate = parseFloat(result[0]).toFixed(2);
                            PMTra_Id = result[1];
                            var row = "<tr>";
                            row += '<td><input type="text" name=ReturnDetails[' + i + '].Item_Name class="form-control" value="' + itemName + '" readonly="readonly"><input name=ReturnDetails[' + i + '].Item_Id type="hidden" class="form-control" value=' + Item_Id + '><input name=ReturnDetails[' + i + '].Rate type="hidden" class="form-control" value=' + Rate + '></td>'

                            if (Is_Auto == 0) {
                                row += '<td><input type="text" name=ReturnDetails[' + i + '].Quantity class="form-control" value="' + SerialNo + '" readonly="readonly"></td>'
                                row += '<td><input type="text" name=ReturnDetails[' + i + '].Sale_Serial_No class="form-control" value="xxxx" readonly="readonly"></td>'
                                row += '<td><input type="text" name=ReturnDetails[' + i + '].Rate class="form-control" value="' + Rate + '" readonly="readonly"></td>'
                            }
                            else {


                                row += '<td><input type="text" name=ReturnDetails[' + i + '].Quantity class="form-control" value=' + 1 + ' readonly="readonly"></td>'
                                row += '<td><input type="text" name=ReturnDetails[' + i + '].Sale_Serial_No class="form-control" value="' + SerialNo + '" readonly="readonly"></td>'
                                row += '<td><input type="text" name=ReturnDetails[' + i + '].Rate class="form-control" value="' + Rate + '" readonly="readonly"></td>'

                            }
                            row += '<td><input name=ReturnDetails[' + i + '].Id type="hidden" class="form-control" value=' + 0 + '><a href="#"  name="Delete" onclick="fn_Addrow2(this);" title="Remove" class="delete">Delete</a></td>'
                            row += '</tr>;'
                            $("#tblItem tbody").append(row);
                            CalculateTotalRate();
                        }
                        else {
                            alert('Please insert correct detail.')
                        }
                    });
                    //************Commented By anurag dated-01-07-2016
                    //var row = "<tr>";
                    //row += '<td><input type="text" name=ReturnDetails[' + i + '].Item_Name class="form-control" value="' + itemName + '" readonly="readonly"><input name=ReturnDetails[' + i + '].Item_Id type="hidden" class="form-control" value=' + $('#Item_Id').val() + '><input name=ReturnDetails[' + i + '].Rate type="hidden" class="form-control" value=' + Rate + '></td>'

                    //if (Is_Auto == 0) {
                    //    row += '<td><input type="text" name=ReturnDetails[' + i + '].Quantity class="form-control" value="' + SerialNo + '" readonly="readonly"></td>'
                    //    row += '<td><input type="text" name=ReturnDetails[' + i + '].Sale_Serial_No class="form-control" value="xxxx" readonly="readonly"></td>'
                    //}
                    //else {


                    //    row += '<td><input type="text" name=ReturnDetails[' + i + '].Quantity class="form-control" value=' + 1 + ' readonly="readonly"></td>'
                    //    row += '<td><input type="text" name=ReturnDetails[' + i + '].Sale_Serial_No class="form-control" value="' + SerialNo + '" readonly="readonly"></td>'

                    //}
                    //row += '<td><input name=ReturnDetails[' + i + '].Id type="hidden" class="form-control" value=' + 0 + '><a href="#"  name="Delete" onclick="fn_Addrow2(this);" title="Remove" class="delete">Delete</a></td>'
                    //row += '</tr>;'
                    //$("#tblItem tbody").append(row);

                    /////////////********tille here******

                    $('#Item_Id').val('');
                    $('#SerialNo').val('');
                    fn_LoadItemList();
                    //$("#tblItem tbody tr").each(function (i, item) {
                    //    fn_Append(i, this);
                    //})

                }
                else {
                    alert('Please fill the Details');
                }
            }
            else {

                $(obj).parent().parent().remove();
                fn_LoadItemList();
                CalculateTotalRate();
                //$("#tblItem tbody tr").each(function (i, item)
                //{
                //    fn_Append(i, this);

                //});



            }

            // fn_GetGrandTotalAmount(obj);
            fn_LoadItemList();
        }
        function fn_LoadItemList() {

            debugger;
            var len = $("#tblItem tbody tr").length;


            for (var i = 0; i < len; i++) {
                if (i < len) {
                    // $('#tblItem tbody tr:eq(' + i + ')').find('td:nth-child(5) a.add').attr("class", "delete");
                    // $('#tblItem tbody tr:eq(' + i + ')').find('td:nth-child(5) a.add').attr("class", "delete");
                    //  $('#tblItem tbody tr:eq(' + i + ')').find('.add').remove();

                    $('#tblItem tbody tr:eq(' + i + ')').find('td:eq(0)  input[type=text]').attr('name', 'ReturnDetails[' + i + '].Item_Name');
                    $('#tblItem tbody tr:eq(' + i + ')').find('td:eq(0) input[type=hidden]').attr('name', 'ReturnDetails[' + i + '].Item_Id');
                    $('#tblItem tbody tr:eq(' + i + ')').find('td:eq(0) input[type=hidden]:eq(1)').attr('name', 'ReturnDetails[' + i + '].Rate');
                    $('#tblItem tbody tr:eq(' + i + ')').find('td:eq(1) input[type=text]').attr('name', 'ReturnDetails[' + i + '].Quantity');
                    $('#tblItem tbody tr:eq(' + i + ')').find('td:eq(2) input[type=text]').attr('name', 'ReturnDetails[' + i + '].Sale_Serial_No');
                    $('#tblItem tbody tr:eq(' + i + ')').find('td:eq(3) input[type=hidden]').attr('name', 'ReturnDetails[' + i + '].Id');

                    //$('.tableIndexing tbody tr:eq(' + i + ')').find('td:eq(1) input[type=text]').attr('name', 'purchase_tra.listpurchase_tra[' + i + '].GoDownName');


                }


            }




        }

        function IsPrdExistinAddedtable() {
            debugger;
            var result = true;
            var SerialNo = $('#SerialNo').val();
            var table = $('#tblItem tr');
            table.each(function (index) {
                if (index > 0) {
                    debugger;
                    if (SerialNo == table.find('td:eq(2)').find('input').val()) {
                        result = false;
                        return false;
                        debugger;
                    }
                }
            })
            debugger;
            return result;
        }

        function CheckValidPrdQty(Qty, Item_Id) {
            debugger
            var result = true;
            var table = $('#tblItem tr');
            var Quantity = 0;
            var EnteredQty = $('#SerialNo').val();
            $('#tblItem tbody tr').each(function (index) {
                //$(this).closest('tr').find('td:eq(0)').find('input[type=hidden]:eq(0)').val()
                //if (index > 0) {

                debugger;
                if (parseInt(Item_Id) == parseInt($(this).closest('tr').find('td:eq(0)').find('input[type=hidden]:eq(0)').val())) {
                    Quantity += parseInt($(this).closest('tr').find('td:eq(1)').find('input[type=text]:eq(0)').val());

                    if ((parseFloat(Quantity) + parseFloat(EnteredQty)).toFixed(2) > parseFloat(Qty).toFixed(2)) {
                        debugger;
                        result = false;
                    }
                    else {
                        $(this).closest('tr').find('td:eq(1)').find('input[type=text]').val((parseInt(Quantity) + parseInt(EnteredQty)));
                        result = 'Appended';

                    }
                }
                //  }
            });
        }
        function CalculateTotalRate() {
            debugger;
            var rate = 0;
            $('#tblItem tbody tr').each(function (index) {
                debugger;
                var Qty = $(this).closest('tr').find('td:eq(1)').find('input[type=text]').val();
                var value = $(this).closest('tr').find('td:eq(3)').find('input[type=text]').val();
                rate += parseFloat(value) * parseFloat(Qty);
                debugger;
            })
            // $('#tblItem tr').each(function (index, item) {
            //    if (index > 0) {
            //        debugger;
            //        var Qty = $(item).find('td:eq(1)').find('input[type=text]').val();
            //        var value = $(item).find('td:eq(3)').find('input[type=text]').val();
            //        rate += parseFloat(value * Qty);
            //        debugger;
            //    }
            //})
            $('#spTotalAmount').html(rate.toFixed(2));
        }

        @*--------------*@


        function fn_CheckSerialNo(obj) {
            debugger;
            var Sales_Id = $('#Sales_Id').val();
            var Customer_Id = $('#Customer_Id').val();
            var Item_Id = $('#Item_Id').val();
            var SerialNo = $('#SerialNo').val();
            var Is_Auto = $('#Is_Auto').val();
            if (SerialNo != '' && SerialNo.length > 0) {
                if (Is_Auto == 1) {
                    $.getJSON("@Url.Action("CheckSerialNo", "SalesReturn")", { SerialNo: SerialNo, Sales_Id: Sales_Id, Item_Id: Item_Id }, function (data) {
                        debugger;
                        if (data == false) {
                            alert('Please Enter Vailed Serial No');
                            $('#SerialNo').val('');
                            //  $('#SerialNo').focus();
                        }
                        else {
                            if (IsPrdExistinAddedtable() == false) {
                                debugger;
                                alert('Serial Number already added.');
                            }
                            else {
                                $.getJSON("@Url.Action("CheckIsReturnedSerialNo", "SalesReturn")", { SerialNo: SerialNo, Item_Id: Item_Id, Sales_Id: Sales_Id }, function (data) {
                                    debugger;
                                    if (data == true) {
                                        alert('This Product is already returned');
                                        $('#SerialNo').val('');
                                    }
                                    else {
                                        fn_Addrow2(obj);
                                    }

                                })
                            }
                        }
                    });
                }
                else {
                    $.getJSON("@Url.Action("CheckValidQty", "SalesReturn")", { Customer_Id: Customer_Id, Sales_Id: Sales_Id, Item_Id: Item_Id }, function (data) {
                        debugger;
                        if (data != '') {

                            var Data = data.split('~');
                            if (parseInt(SerialNo) > parseInt(Data[1])) {
                                alert('Entered Qty should not be greater than booked Qty.');
                                $('#SerialNo').val('');
                            }

                            else {
                                var Result = CheckValidPrdQty(Data[1], Item_Id);

                                if (Result == false) {
                                    alert('You cannot enter exceed value from the booked quantity.');
                                }
                                else if (Result == 'Appended') {
                                    CalculateTotalRate();
                                }
                                else {
                                    fn_Addrow2(obj);
                                }
                            }
                            //else if (parseInt(Data[1]))
                            //{
                            //    alert('Returned Qty should not be greater than booked Qty.');
                            //    $('#SerialNo').val('');
                            //}
                        }

                    })
                }
            }
            else {
                debugger;
                if ($('#Serialno').text == 'Quantity') {
                    alert('Please Enter Quantity.');
                }
                else {
                    alert('Please Enter Serial No.');
                }
                // alert('Please Enter Serial No');
                //$('#SerialNo').focus();
            }
        }

        function fn_CheckStockItem(obj) {
            var tr = $(obj).parent().parent();
            var avlqty = tr.find('td:eq(1) input[type=text]').val();
            var Sellqty = tr.find('td:eq(2) input[type=text]').val();
            if (parseFloat(avlqty) < parseFloat(Sellqty)) {
                alert("Stock is Not Availabe");
                tr.find('td:eq(2) input[type=text]').val(0);
            }

        }

        function fn_GetGrandTotalAmount(obj) {
            var tr = $(obj).parent().parent();
            var total = 0.00;
            $('#tblItem tbody tr').each(function (i, item1) {
                var perrowatotalamout = $(item1).find('td:eq(6) input[type=text]').val();
                total = parseFloat(total) + parseFloat(perrowatotalamout);

            });
            //$('#GrTotal').text(total);
            //$('#Grand_Total').val(total);
        };

        function fn_GetTotalAmount(obj) {
            var tr = $(obj).parent().parent();
            var qty = tr.find('td:eq(1) input[type=text]').val();

            var amount = tr.find('td:eq(2) input[type=text]').val();
            // alert(qty + "" + amount);

            tr.find('td:eq(4) input[type=text]').val(qty * amount);
        }
    </script>
    <script>
        $(function () {
            var disc =@Model.Discount

            $('#Discount_Amount').html(disc);
            //AutoComplete();
            $("#Customer_Id").customselect();
        });


    </script>











}

