﻿@model ViewModel.Transactions.SalesReturnInfo

<table id="tblItem" class="table table-striped table-bordered table-hover">

    <thead>
        <tr>
            <th>
                <label> Item Name</label>
            </th>


            <th>
                <label>Quantity</label>
            </th>

            <th>
                <label>Rate</label>
            </th>
            <th>
                <label>Per</label>
            </th>
            <th>
                <label>Amount</label>
            </th>



        </tr>

    </thead>
    <tbody>


        @{


            int i = 0;
            foreach (var m in Model.ReturnDetails)
            {

                <tr>
                    <td>

                        @m.Item_Name


                    </td>

                    <td>
                        @m.Quantity.Value.ToString("#." + new string('0', @m.No_of_Decimal))

                    </td>
                    <td align="right">
                        <i class="fa fa-rupee">&nbsp;@m.Rate</i>

                    </td>
                    <td>
                        @m.Unit_Name

                    </td>
                    <td align="right">
                        <i class="fa fa-rupee">&nbsp;@m.Total_Amount</i>

                    </td>


                </tr>
                i++;
            }



        }
    </tbody>
</table>