﻿@{
    ViewBag.Title = "Index";
    Layout = ViewBag.layout;
}






<script>
    
    $(document).ready(function () {
        $('#gridContent>table>tbody tr').click(function () {
            console.log($(this).html());
            var chalanno = $(this).find('td:eq(1)').text();
            var Id = $(this).find('td:eq(0) input').val();
            
            $.ajax({

                url: "@Url.Action("_ViewSalesItem", "Sales")",
                data: { Id: Id, ChalanNo: chalanno },
                type: "GET",
                cache: false,
                success: function (data) {
                    $('#viewPurchseItem').html(data);

                },
                error: function () {
                    alert("Error");
                }
            });
        });
    });

</script>
<style>
    .table tbody tr:hover {
        background-color: skyblue;
    }
</style>





        @{Html.RenderAction("List", "Sales");}


