﻿@{
    ViewBag.Title = "Index";
    Layout = ViewBag.layout;
}


<script>
    $(document).ready(function () {
        $('#searchText').click(function () {

            var data = $('#SearchText').val();
            if (data != null)
                FilterData(data, '@Url.Action("List", "FinancialYear", new { area = "Masters" })', '#gridcontent');
        });

    });

    $(document).ready(function () {
        if ('@ViewBag.SaveStatus' == 1)
            toastr.success('Record successfully Saved');

        else if ('@ViewBag.SaveStatus' == 2)
            toastr.success('Record updated successfully');

        else if ('@ViewBag.SaveStatus' == 3)
            toastr.success('Record deleted successfully');

    });
</script>

<div id="body" class="row topmrgn5px">
    <div id="content" class="col-md-12">
        <div class="panel">

            <div class="panel-heading  bg-margenta">
                <div class="row">

                    <div class="col-md-9">
                        <i class="fa fa-list"></i>
                        <span>Financial Year</span>


                    </div>

                    <div class="col-md-3">
                        @Ajax.ActionLink("New", "Create", "FinancialYear", new { area = "Masters", Id = 0 }, new AjaxOptions
                            {

                                UpdateTargetId = "PageContent",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                            }, new { @Class = "btn btn-default btn-xs btn-flat hgt", })


                        <select class="hgt"><option>Tools</option><option>Import</option><option>Export</option></select>
                        <input type="text" placeholder="Search Here" class="" id="SearchText" />
                        <button class="btn btn-default btn-xs btn-flat hgt fa fa-search" id="searchText" type="button"></button>
                        <button class="btn btn-default btn-xs btn-flat hgt fa fa-refresh " type="button" onclick="clearAll();"></button>
                    </div>





                </div>

            </div>


            <div class="panel-body" id="gridcontent">

                @{Html.RenderAction("List", "FinancialYear");}
            </div>
        </div>
    </div>

</div>
