﻿@model List<ViewModel.Common.FinancialYear>
@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 20,
    selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridcontent");
    grid.Pager(WebGridPagerModes.All);
}

            @grid.GetHtml(tableStyle: "table table-striped table-bordered table-hover table-responsive topmrgn5px",
        columns: grid.Columns(
                 grid.Column("S.No", format: item => item.WebGrid.Rows.IndexOf(item) + 1),
        grid.Column("Name", "Name"),
                                   
         grid.Column("FromPeriod", "From Period"),
          grid.Column("ToPeriod", "To Period"),
                     grid.Column("Remarks", "Remarks"),
          grid.Column( "Action", format: (item) => new HtmlString(

               @Ajax.ActionLink(" ", "Create", "FinancialYear", new { area = "Masters", Id = item.Id }, new AjaxOptions
                            {

                                LoadingElementId="Loader",
                                UpdateTargetId = "PageContent",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                            }, new { @Class = "btn btn-default fa fa-pencil", @title = "Edit" }).ToString() +
                              @Ajax.ActionLink(" ", "Delete", "FinancialYear", new { area = "Masters", item.Id }, new AjaxOptions
                            {
                                LoadingElementId = "Loader",
                                Confirm = "Are you sure to delete?",
                                UpdateTargetId = "PageContent",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                            }, new { @Class = "btn btn-default fa fa-trash-o", @title = "Delete" }).ToString()

         ))


        ))

            @*<table class="table table-striped table-bordered table-hover table-responsive topmrgn5px">
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                            From Period
                        </td>

                        <td>
                            To Period
                        </td>

                        <td colspan="2">Action</td>
                    </tr>
                    @if (Model.Count != 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(x => item.Name)

                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.FromPeriod)
                                </td>

                                <td>
                                    @Html.DisplayFor(x => item.ToPeriod)
                                </td>

                                <td>
                                    @Ajax.ActionLink(" ", "Create", "FinancialYear", new { area = "Masters", Id = item.Id }, new AjaxOptions
                                    {

                                        UpdateTargetId = "PageContent",
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                    }, new { @Class = "fa fa-pencil", })
                                </td>
                                <td>
                                    @Ajax.ActionLink(" ", "Create", "FinancialYear", new { area = "Masters", item.Id }, new AjaxOptions
                                    {

                                        UpdateTargetId = "PageContent",
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                    }, new { @Class = "fa fa-trash-o", })
                                </td>
                            </tr>
                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="4">
                                No Records found..
                            </td>
                        </tr>
                    }


                </table>*@
   