﻿@model List<ViewModel.Common.Tax>
@{
    var grid = new WebGrid(Model, canPage: true, canSort: true, selectionFieldName: "selectedRow", rowsPerPage: 20, ajaxUpdateContainerId: "gridcontent");
    grid.Pager(WebGridPagerModes.All);
}

            @grid.GetHtml(tableStyle: "table table-striped table-bordered table-hover table-responsive topmrgn5px",
                 columns: grid.Columns(
                          grid.Column("S.No", format: item => item.WebGrid.Rows.IndexOf(item) + 1),
                 //grid.Column("Code", "Code"),
                          grid.Column("Name", "Name"),
              grid.Column("Alias", "Alias Name"),
                                                  grid.Column("Rate/Amount", format: item => item.Rate_Type_Name == "PERCENT" ? item.Rate + "%" :"Rs. "+ item.Rate),
                      grid.Column("Type_Name", "Addition/Deduction"),
                               grid.Column("Rate_Type_Name","Rate Type"),
                                      grid.Column("Remarks", "Remarks"),
            grid.Column("Action", format: (item) => new HtmlString(

                          @Ajax.ActionLink(" ", "Create", "Tax", new { area = "Masters", Id = item.Id }, new AjaxOptions
                                     {

                                         LoadingElementId = "Loader",
                                         UpdateTargetId = "PageContent",
                                         HttpMethod = "GET",
                                         InsertionMode = InsertionMode.Replace,
                                     }, new { @Class = "btn btn-default fa fa-pencil", @title = "Edit" }).ToString() +
                                               @Ajax.ActionLink(" ", "Delete", "Tax", new { area = "Masters", Id = item.Id }, new AjaxOptions
                                     {
                                         LoadingElementId = "Loader",
                                         Confirm = "Are you sure to delete?",
                                         UpdateTargetId = "PageContent",
                                         HttpMethod = "GET",
                                         InsertionMode = InsertionMode.Replace,
                                     }, new { @Class = "btn btn-default fa fa-trash-o", @title = "Delete" }).ToString()
         ))

        ))
            @*<table class="table table-striped table-bordered table-hover table-responsive topmrgn5px">
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                            Code
                        </td>
                        <td>
                            Rate Name
                        </td>



                        <td colspan="2">Action</td>
                    </tr>
                    @if (Model.Count != 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(x => item.Name)

                                </td>
                                <td>
                                    @Html.DisplayFor(x => item.Code)
                                </td>

                                <td>
                                    @Html.DisplayFor(x => item.Rate)
                                </td>

                                <td>

                                    @Ajax.ActionLink(" ", "Create", "Tax", new { area = "Masters", Id = item.Id }, new AjaxOptions
                                    {

                                        UpdateTargetId = "PageContent",
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                    }, new { @Class = "fa fa-pencil", })
                                </td>
                                <td>
                                    @Ajax.ActionLink(" ", "Create", "Tax", new { area = "Masters", Id = item.Id }, new AjaxOptions
                                    {

                                        UpdateTargetId = "PageContent",
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                    }, new { @Class = "fa fa-trash-o", })
                                </td>
                            </tr>
                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="4">
                                No Records found..
                            </td>
                        </tr>
                    }


                </table>*@
       