﻿@{
    ViewBag.Title = "Index";
    Layout = ViewBag.layout;
}

@*<script>
        $(function () {
            ApplyFilterOnTable();
        });
    </script>*@


<script>
    $(document).ready(function () {
        if ('@ViewBag.SaveStatus' == 1)
            toastr.success('Record successfully Saved');

        else if ('@ViewBag.SaveStatus' == 2)
            toastr.success('Record updated successfully');
    });
</script><div id="body" class="row">

    <div id="content">
        @{Html.RenderAction("List", "Receipt", new { Tag = @ViewBag.Tag });}
    </div>
</div>
