﻿@{
    ViewBag.Title = "Index";
    Layout = ViewBag.layout;
}



<div id="body" class="row">

    <div id="content">
        @{Html.RenderAction("List", "Customer");}
    </div>
</div>
