﻿@{
    ViewBag.Title = "Index";
    Layout = ViewBag.layout;
}
<script>
    $(document).ready(function () {
        $('#searchText').click(function () {

            var data = $('#SearchText').val();
            if (data != null)
                FilterData(data, '@Url.Action("List", "Category", new { area = "InventoryMaster" })', '#gridcontent');
        });

    });

    $(document).ready(function () {
        if ('@ViewBag.SaveStatus' == 1)
            toastr.success('Record successfully Saved');

        else if ('@ViewBag.SaveStatus' == 2)
            toastr.success('Record updated successfully');
        else if ('@ViewBag.SaveStatus' == 3)
            toastr.success('Record deleted successfully');
    });
</script>
<div id="body" class="row topmrgn5px">
    <div id="content" class="col-md-12">

        <div class="panel">
            <div class="panel-heading  bg-margenta">
                <div class="row">

                    <div class="col-md-9">
                        <i class="fa fa-list"></i>
                        <span>Item Category</span>

                    </div>

                    <div class="col-md-3">
                        @Ajax.ActionLink("New", "Create", "Category", new { area = "InventoryMaster", Id = 0 }, new AjaxOptions
                            {

                                UpdateTargetId = "PageContent",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                            }, new { @Class = "btn btn-default btn-xs btn-flat hgt", })


                        <div class="btn-wrp"><div class="dropdown"><button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> Import <span class="caret"></span></button><ul class="dropdown-menu"><li><a href="#">One</a></li><li><a href="#">Two</a></li><li><a href="#">Three</a></li></ul></div><div class="dropdown"><button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> Export <span class="caret"></span></button><ul class="dropdown-menu"><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'csv', escape: 'false' });">CSV</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'excel', escape: 'false' });">EXCEL</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'doc', escape: 'false' });">DOC</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'pdf', escape: 'false' });">PDF</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'xml', escape: 'false' });">XML</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'sql', escape: 'false' });">SQL Script</a></li><li><a href="#" onclick="$('#gridcontent table').tableExport({ type: 'json', escape: 'false' });">JSON</a></li></ul></div></div>
                        <input type="text" placeholder="Search Here" class="" id="SearchText" />
                        <button class="btn btn-default btn-xs btn-flat hgt fa fa-search" id="searchText" type="button"></button>
                        <button class="btn btn-default btn-xs btn-flat hgt fa fa-refresh " type="button" onclick="clearAll();"></button>
                    </div>





                </div>

            </div>


            <div class="panel-body" id="gridcontent">

                @{Html.RenderAction("List", "Category");}
            </div>

        </div>

    </div>
</div>
