﻿@model List<ViewModel.Common.List_Common>
 
@{
  var grid = new WebGrid(Model, canPage: true, canSort: false, rowsPerPage: 20, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridcontent");
  grid.Pager(WebGridPagerModes.All);
}



        @grid.GetHtml(tableStyle: "table  table-responsive table-striped table-bordered table-hover topmrgn5px",
        columns:grid.Columns(
        grid.Column("S.No", format:item=>item.WebGrid.Rows.IndexOf(item)+1 ),
                 grid.Column("Name", "Name"),
                 grid.Column("Alias_Name", "Alias Name"),
                 grid.Column("Under_Name", "Under Category"),
                 grid.Column(header:"Action",format:(item)=>new  HtmlString(
                
                 Ajax.ActionLink(" ", "Create", "Category", new { area = "InventoryMaster", Id = item.Id }, new AjaxOptions
                 {
                 UpdateTargetId = "PageContent",
                 HttpMethod = "GET",
                 InsertionMode = InsertionMode.Replace,
                 }, new { @Class = "btn btn-default fa fa-pencil", @title = "Edit" }).ToString() +
                 
                @Ajax.ActionLink(" ", "Delete", "Category", new { area = "InventoryMaster", item.Id }, new AjaxOptions {
                    Confirm = "Are you sure to delete?",
                UpdateTargetId = "PageContent", HttpMethod = "GET", InsertionMode = InsertionMode.Replace,
                }, new { @Class = "btn btn-default fa fa-trash-o",@title="Delete" }).ToString()
        
        ))
        ))
        @*<table class="table  table-responsive table-striped table-bordered table-hover topmrgn5px">
                <tr>
                    <td>
                        Category Name
                    </td>
                    <td>
                        Alias Name
                    </td>

                    <td>
                        Under Category
                    </td>

                    <td colspan="2">Action</td>
                </tr>
                @if (Model.Count != 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => item.Name)

                            </td>
                            <td>
                                @Html.DisplayFor(x => item.Alias_Name)
                            </td>

                            <td>
                                @Html.DisplayFor(x => item.Under_Name)
                            </td>

                            <td>
                                @Ajax.ActionLink(" ", "Create", "Category", new { area = "InventoryMaster", Id = item.Id }, new AjaxOptions
                                {

                                    UpdateTargetId = "PageContent",
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                }, new { @Class = "fa fa-pencil", })
                            </td>
                            <td>
                                @Ajax.ActionLink(" ", "Create", "Category", new { area = "InventoryMaster", item.Id }, new AjaxOptions
                                {

                                    UpdateTargetId = "PageContent",
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                }, new { @Class = "fa fa-trash-o", })
                            </td>
                        </tr>
                    }

                }
                else
                {
                    <tr>
                        <td colspan="4">
                            No Records found..
                        </td>
                    </tr>
                }

            </table>*@
   