﻿@model ViewModel.Transactions.StockMaster
@*<div class="panel panel-danger" style="min-height:450px;">

    <div class="panel-heading" style="background-color: #C4538A;color:white"><span>View Details</span> </div>


     <div class="panel-body">*@

@*<div>
        <div id="imgTest">
            <img src="@src" class="img-responsive img-thumbnail" style="max-height:120px;min-height:120px;max-width:120px;min-width:120px;" />
        </div>
    </div>*@
<table class="table table-bordered table-striped">
    <tr><td colspan="2"><label>Item Details</label></td></tr>
    <tr>
        <td>
            @Html.Label("Item Code")
        </td>
        <td>
            <span>@Model.StockMstDetails.FirstOrDefault(x => x.TagName == "ITEMCODE").Description</span>
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Item Name")
        </td>
        <td>
            <span>@Model.StockMstDetails.FirstOrDefault(x => x.TagName == "ITEMNAME").Description</span>
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Total Purchase")
        </td>
        <td>
            <span>@Model.StockMstDetails.FirstOrDefault(x => x.TagName == "TOTALPURCHASE").Value</span>
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Total Sales")
        </td>
        <td>
            <span>@Model.StockMstDetails.FirstOrDefault(x => x.TagName == "TOTALSALES").Value</span>
        </td>
    </tr>

    <tr>
        <td>
            @Html.Label("Min Qty")
        </td>
        <td>
            <span>@Model.StockMstDetails.FirstOrDefault(x => x.TagName == "MINIMUMQUANTITY").Value</span>
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Available Qty")
        </td>
        <td>
            <span>@Model.StockMstDetails.FirstOrDefault(x => x.TagName == "AVAILABLEQUANTITY").Value</span>
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Opening Qty")
        </td>
        <td>
            <span>@Model.StockMstDetails.FirstOrDefault(x => x.TagName == "OPENINGQUANTITY").Value</span>
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Purchase Return")
        </td>
        <td>
            <span>@Model.StockMstDetails.FirstOrDefault(x => x.TagName == "PURCHASERETURN").Value</span>
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Sales Return")
        </td>
        <td>
            <span>@Model.StockMstDetails.FirstOrDefault(x => x.TagName == "SALESRETURN").Value</span>
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Status")
        </td>
        <td>
            <span id="spStatus">@Model.StockMstDetails.FirstOrDefault(x => x.TagName == "STATUS").Description</span>
        </td>
    </tr>
</table>
@*</div>
    </div>*@