﻿@model ViewModel.Transactions.StockMaster
@{

    string src = null;
    if (Model.StockMstDetails.FirstOrDefault(x => x.TagName == "IMAGEURL").Description != null)
    {
         src = Model.StockMstDetails.FirstOrDefault(x => x.TagName == "IMAGEURL").Description;

      
    }
    else
    {
        src = "/Themes/img/demo_img.gif";
    }

}
@*<div class="panel panel-danger" style="min-height:450px;">*@

@*<div class="panel-heading" style="background-color: #C4538A;color:white"><span>View Details</span> </div>


    <div class="panel-body">*@

<div>
    <div id="imgTest">
        <img id="imgSrc" src="@src" class="img-responsive img-thumbnail" title="No Image" style="max-height:120px;min-height:120px;max-width:120px;min-width:120px;" />
    </div>
</div>
<table class="table table-bordered table-striped">
    <tr><td colspan="2"><label>Stock Master Details</label></td></tr>
    <tr>
        <td>
            @Html.Label("Today Total Sales")
            @*@Html.HiddenFor(x => x.Id)*@
        </td>
        <td>

            <span>@Model.StockMstDetails.FirstOrDefault(x => x.TagName == "TODAYSALES").Value</span>
        </td>
    </tr>

    <tr>
        <td>
            @Html.Label("Today Total Purchase")
        </td>
        <td>
            <span>@Model.StockMstDetails.FirstOrDefault(x => x.TagName == "TODAYPURCHASE").Value</span>
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Sales Quotations")
        </td>
        <td>
            <span>@Model.StockMstDetails.FirstOrDefault(x => x.TagName == "SALESQUOTATION").Value</span>
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Purchase Quotations")
        </td>
        <td>
            <span>@Model.StockMstDetails.FirstOrDefault(x => x.TagName == "PURCHASEQUOTATION").Value</span>
        </td>
    </tr>
</table>
@*</div>
    </div>*@
