﻿@model ViewModel.Transactions.QuationInfo


<table id="tblItem" class="table table-striped table-bordered table-hover">

    <thead>
        <tr>
            <th>
                <label> Item Name</label>
            </th>


            <th>
                <label>Quantity</label>
            </th>

            <th>
                <label>Rate</label>
            </th>
            <th>
                <label>Per</label>
            </th>
            <th>
                <label>Amount</label>
            </th>



        </tr>

    </thead>
    <tbody>


        @{


            int i = 0;
            foreach (var m in Model.QuationItemList)
            {

                <tr>
                    <td>

                        @m.Item_Name


                    </td>

                    <td>

                        @m.Qty.Value.ToString("#." + new string('0', @m.UnitPlace))
                    </td>
                    <td align="right">
                        <i class="fa fa-rupee">&nbsp;@m.Final_Rate.Value.ToString("#." + new string('0', 2))</i> 

                    </td>
                    <td>
                        @m.Unit_Name

                    </td>
                    <td align="right">
                        <i class="fa fa-rupee">&nbsp;@m.Total_Amount.ToString("#." + new string('0', 2)) </i> 
                        

                    </td>


                </tr>
                i++;
            }



        }
    </tbody>
</table>




