﻿@{
    ViewBag.Title = "Index";
    Layout = ViewBag.layout;
}

@*<h2>Index</h2>*@

<script>
    $(document).ready(function () {
        if ('@ViewBag.SaveStatus' == 1)
            toastr.success('Record successfully Saved');

        else if ('@ViewBag.SaveStatus' == 2)
            toastr.success('Record updated successfully');

        else if ('@ViewBag.SaveStatus' == 3)
            toastr.success('Record deleted successfully');
    });
</script>

@{Html.RenderAction("List", "JournalVoucher");}
